@using DevSpaceShared.Data
@using DevSpaceShared.Events.Docker
@using DevSpaceShared.Responses
@using Docker.DotNet.Models
@using System.Linq.Dynamic.Core
@using Newtonsoft.Json.Linq
@using static DevSpaceWeb.Components.Pages.Server.DockerTools.ServerDockerContainers
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService tooltipService
@inject NavigationManager Nav
@inject NotificationService Notifications

<PageTitle>Docker Stacks | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box">
    <div class="dash-box-content dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="ri:stack-fill"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Docker Stacks</RadzenText>
        @if ((IsLoading || IsActionRunning) && Member != null && Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ViewStacks))
        {
            <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.ExtraSmall" class="ml-2" />
        }
    </div>

    @if (Member == null || !Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ViewStacks))
    {
        <div class="dash-box-content">
            <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                You do not have permission for View Stacks
            </RadzenAlert>
        </div>
    }
    else
    {

    <div class="dash-box-content">
        <RadzenStack Gap="2px;" Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <RadzenButton Variant="Variant.Outlined" Text="Remove" Click="@(() => RunSelectedContainersAction(ControlStackType.Remove))" Icon="delete" Disabled="@(!AnySelected || !Member.HasDockerPermission(Team, Server, DockerPermission.DockerAdministrator))" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" Style="border-radius: var(--rz-button-border-radius) !important; margin-right: 4px !important;" />

                <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/stacks/build")"><RadzenButton Variant="Variant.Filled" Text="Create Stack" Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Size="ButtonSize.Small" Disabled="@(!Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.CreateStacks))" /></a>
                <RadzenButton Variant="Variant.Filled" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshStacks" Disabled="@IsLoading" />
        </RadzenStack>
        
    </div>

    <RadzenDataGrid @ref="@Grid" AllowRowSelectOnRowClick="false" Data="@StacksList" LoadData="@LoadData" Count="@Count" IsLoading="@IsLoading"
                    PagerHorizontalAlign="HorizontalAlign.Center" AllowPaging="true" PageSize="15" GridLines="DataGridGridLines.Horizontal"
                    @bind-Value="@SelectedStacks" SelectionMode="DataGridSelectionMode.Multiple" ShowPagingSummary="true"
                    PagingSummaryFormat="@(Count + " stack" + (Count != 1 ? "s" : "") )" Density="Density.Compact"
                    AllowSorting="false" AllowFiltering="false"
                    TItem="DockerStackInfo" CellContextMenu="@(args => ShowContextMenuWithManageItems(args.Data, args))">
        <Columns>
            <RadzenDataGridColumn Width="36px" Frozen="true">
                <HeaderTemplate>
                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                                    Value="@(SelectedStacks == null || SelectedStacks?.Any() != true ? false : !StacksList.All(i => SelectedStacks.Contains(i)) ? null : StacksList.Any(i => SelectedStacks.Contains(i)))"
                                        Change="@(args => SelectedStacks = args == true ? (SelectedStacks != null && SelectedStacks.Any()) ? null : StacksList.ToList() : null)" Disabled="@IsActionRunning" />
                </HeaderTemplate>
                <Template Context="data">
                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(SelectedStacks != null && SelectedStacks.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                                        TValue="bool" Change="@(() => Grid.SelectRow(data))" Disabled="@IsActionRunning" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Name" Width="200px" Frozen="true">
                <Template>
                    @if (string.IsNullOrEmpty(context.Id))
                    {
                            <RadzenLink Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/stacks/" + context.Name)">@context.Name</RadzenLink>
                    }
                    else
                    {
                            <RadzenLink Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/stacks/" + context.Id)">@context.Name</RadzenLink>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Type" Width="100px">
                <Template>
                    @context.Type.ToString()
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Control" Width="100px">
                <Template>
                    @context.ControlType.ToString()
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Status" Width="100px">
                <Template>
                    <RadzenBadge Shade="Shade.Dark" BadgeStyle="@(context.IsRunning ? BadgeStyle.Success : BadgeStyle.Danger)" Text="@(context.IsRunning ? "Running" : "Down")" IsPill="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Containers" Width="120px">
                <Template>
                    <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Info" Text="@(context.Containers.Count + " container" + (context.Containers.Count != 1 ? "s" : ""))" IsPill="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Actions" Width="70px">
                <Template>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenButton Click=@(args => ShowContextMenuWithManageItems(context, args)) Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Version" Width="70px">
                <Template>
                    @context.Version
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Created" Width="140px">
                <Template>
                    @if (context.CreatedAt.HasValue)
                    {
                        <RadzenContent MouseEnter="@(args => ShowUptimeTooltip(args, $"{(int)(DateTime.UtcNow - context.CreatedAt.Value).TotalDays} Days ago"))">@Utils.GetLocalDate(Session, context.CreatedAt.Value)</RadzenContent>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Updated">
                <Template>
                    @if (context.UpdatedAt.HasValue)
                    {
                        <RadzenContent MouseEnter="@(args => ShowUptimeTooltip(args, $"{(int)(DateTime.UtcNow - context.UpdatedAt.Value).TotalDays} Days ago"))">@Utils.GetLocalDate(Session, context.UpdatedAt.Value)</RadzenContent>
                    }
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    }
</div>

<style>
    .dash-box-content .rz-button:not(.rz-button.rz-info):not(.rz-button.rz-success):not(.rz-button.rz-warning) {
        border-radius: 0px !important;
        margin-right: -4px !important;
        box-shadow: inset 0 0 0 var(--rz-border-width) rgb(150,150,150) !important;
    }

    .dash-box-content .rz-button-sm .rzi {
        font-size: 1.15rem !important;
        width: 1.15rem !important;
        height: 1.15rem !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
    public ServerData? Server => Session.Selected.Server;

    SocketResponse<List<DockerStackInfo>>? StacksResponse = null;

    IQueryable<DockerStackInfo>? StacksList;
    public int Count = 0;
    IList<DockerStackInfo>? SelectedStacks;
    public bool AnySelected => SelectedStacks != null ? SelectedStacks.Any() : false;
    RadzenDataGrid<DockerStackInfo> Grid;
    public bool IsLoading = true;
    public bool IsActionRunning { get; set; }

    public async Task LoadData(LoadDataArgs args)
    {
        if (Member == null || Server == null)
            return;

        if (!Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ViewStacks))
            return;

        if (Program.IsPreviewMode)
        {
            StacksList = new List<DockerStackInfo>
            {
                new DockerStackInfo
                {
                    Containers = new HashSet<DockerContainerInfo>
                    {
                        new DockerContainerInfo
                        {
                            Id = "test",
                            Name = "test-service",
                            ImageId = "0",
                            ImageName = "test:latest",
                            State = "exited",
                            Status = "Exited (137) 1 week ago",
                        }
                    },
                    CreatedAt = DateTime.UtcNow.AddDays(-2),
                    Id = "1",
                    IsRunning = true,
                    Name = "test",
                    Type = DockerStackType.Compose,
                    UpdatedAt = DateTime.UtcNow,
                    Version = 1
                }
            }.AsQueryable();
            Count = 0;
            IsLoading = false;
        }
        else
        {
            if (StacksResponse == null)
            {
                IsLoading = true;
                try
                {
                    StacksResponse = await Server.RunJsonAsync<List<DockerStackInfo>>(Notifications, new DockerEvent(DockerEventType.ListStacks));
                }
                catch (Exception ex)
                {
                    Logger.LogMessage(ex.ToString(), LogSeverity.Warn);
                }

                IsLoading = false;


            }

            if (StacksResponse != null && StacksResponse.IsSuccess && StacksResponse.Data != null)
            {
                IQueryable<DockerStackInfo> query = StacksResponse.Data.AsQueryable();

                if (!string.IsNullOrEmpty(args.Filter))
                    query = query.Where(args.Filter);

                if (!string.IsNullOrEmpty(args.OrderBy))
                    query = query.OrderBy(args.OrderBy);

                Count = query.Count();
                StacksList = query.OrderBy(x => x.Name).Skip(args.Skip.GetValueOrDefault()).Take(args.Top.GetValueOrDefault());
            }
        }
    }

    public async Task SetNameFilter(string text)
    {
        await Grid.ColumnsCollection.ElementAt(1).SetFilterValueAsync(text);
    }

    void RunSelectedContainersAction(ControlStackType type)
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        if (Member == null || Server == null || SelectedStacks == null)
            return;

        if (!Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ManageStacks))
            return;

        _ = Task.Run(async () =>
        {
            IsActionRunning = true;
            await InvokeAsync(StateHasChanged);
            foreach(var i in SelectedStacks)
            {
                await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.ControlStack, i.Id, stackType: type));                
            }
            IsActionRunning = false;
            SelectedStacks.Clear();
            await InvokeAsync(RefreshStacks);
        });

    }

    void ShowContextMenuWithManageItems(DockerStackInfo item, MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem() { Text = "View", Value = "view", Icon = "stacks", Disabled = Member == null || !Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ViewStacks)  },
                new ContextMenuItem() { Text = "Edit", Value = "edit", Icon = "edit_square", Disabled = Member == null || item.ControlType != DockerStackControl.Full || !Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ManageStacks) },
                new ContextMenuItem(){ Text = "Remove", Value = "remove", Icon = "delete", Disabled = Member == null || item.ControlType != DockerStackControl.Full || !Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ManageStacks) },
                                                         }, x => MenuItemClick(x, item));
    }

    void MenuItemClick(MenuItemEventArgs args, DockerStackInfo item)
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        if (Member == null || Server == null)
            return;

        _ = Task.Run(async () =>
        {
            switch (args.Value.ToString())
            {
                case "view":
                    if (!Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ViewStacks))
                        return;

                    Nav.NavigateTo("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/stacks/" + item.Id);
                    break;
                case "edit":
                    if (!Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ManageStacks))
                        return;

                    Nav.NavigateTo("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/stacks/" + item.Id + "/edit");
                    break;
                case "remove":
                    if (!Member.HasDockerContainerPermission(Team, Server, DockerContainerPermission.ManageStacks))
                        return;

                    if (item.ControlType != DockerStackControl.Full)
                        return;

                    IsActionRunning = true;
                    await InvokeAsync(StateHasChanged);
                    await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.ControlStack, item.Id, stackType: ControlStackType.Remove));
                    IsActionRunning = false;
                    await InvokeAsync(RefreshStacks);
                    break;
            }
        });

        ContextMenuService.Close();
    }

    void ShowUptimeTooltip(ElementReference elementReference, string uptime) => tooltipService.Open(elementReference, uptime, null);


    public async Task RefreshStacks()
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }
        StacksResponse = null;
        await Grid.RefreshDataAsync();
    }
}
