@using DevSpaceShared.Data
@using DevSpaceShared.Events.Docker
@using DevSpaceShared.Responses
@using DevSpaceWeb.Components.Dialogs.Docker
@using Docker.DotNet.Models
@using System.Linq.Dynamic.Core
@using Newtonsoft.Json.Linq
@using static DevSpaceWeb.Components.Pages.Server.DockerTools.ServerDockerContainers
@inject DialogService Dialog
@inject ContextMenuService ContextMenuService
@inject TooltipService tooltipService
@inject NotificationService Notifications
@inject NavigationManager Nav

<PageTitle>Docker Images | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box">
    <div class="dash-box-content dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:folder-image"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Docker Images</RadzenText>
        @if ((IsLoading || IsActionRunning) && Member != null && Member.HasDockerPermission(Team, Server, DockerPermission.ViewImages))
        {
            <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.ExtraSmall" class="ml-2" />
        }
    </div>
    <RadzenBreadCrumb class="mt-2 ml-4" style="margin-top: -2px !important; margin-bottom: 10px;">
        <RadzenBreadCrumbItem Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers")" Text="Servers" />
        <RadzenBreadCrumbItem Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl)" Text="@Session.Selected.Team?.Server?.Data.Name" />
        <RadzenBreadCrumbItem Text="Images" />
    </RadzenBreadCrumb>

    @if (Member == null || !Member.HasDockerPermission(Team, Server, DockerPermission.ViewImages))
    {
        <div class="dash-box-content">
            <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                You do not have permission for View Images
            </RadzenAlert>
        </div>
    }
    else
    {
        <div class="dash-box-content">
            <RadzenStack Gap="10px" JustifyContent="JustifyContent.Left" Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <RadzenCard @onclick="@PullImage" Style="cursor: pointer;" class="@("rz-p-1 rz-text-align-center settings-item" + (Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages) ? "" : " settings-item-disabled"))">
                    <span class="iconify" data-icon="mdi:cloud-download"></span>
                    <RadzenText TextStyle="TextStyle.H6">Pull</RadzenText>
                </RadzenCard>
                <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/images/build")">
                    <RadzenCard Style="cursor: pointer;" class="@("rz-p-1 rz-text-align-center settings-item" + (Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages) ? "" : " settings-item-disabled"))">
                        <span class="iconify" data-icon="mdi:pencil-box"></span>
                        <RadzenText TextStyle="TextStyle.H6">Build</RadzenText>
                    </RadzenCard>
                </a>
                <RadzenCard @onclick="@PruneImages" Style="cursor: pointer;" class="@("rz-p-1 rz-text-align-center settings-item" + (Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages) ? "" : " settings-item-disabled"))">
                    <span class="iconify" data-icon="mdi:trash-can"></span>
                    <RadzenText TextStyle="TextStyle.H6">Prune</RadzenText>
                </RadzenCard>
                <a href="https://hub.docker.com/search?type=image&q=" target="_blank">
                    <RadzenCard Style="cursor: pointer;" class="@("rz-p-1 rz-text-align-center settings-item")">
                        <span class="iconify" data-icon="mdi:search"></span>
                        <RadzenText TextStyle="TextStyle.H6">Search</RadzenText>
                    </RadzenCard>
                </a>
            </RadzenStack>
            <br />

            <RadzenButton Variant="Variant.Outlined" Text="Remove" Click="@(() => RunSelectedContainersAction(ControlImageType.Remove))" Icon="delete" Disabled="@(!AnySelected || !Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" Style="border-radius: var(--rz-button-border-radius) !important; margin-right: 4px !important;" />

            <RadzenButton Variant="Variant.Filled" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshImages" Disabled="@IsLoading" />
        </div>
        <RadzenDataGrid @ref="@grid" AllowRowSelectOnRowClick="false" Data="@ImagesList" LoadData="@LoadData" Count="@Count" IsLoading="@IsLoading"
                        PagerHorizontalAlign="HorizontalAlign.Center" AllowPaging="true" PageSize="15" GridLines="DataGridGridLines.Horizontal"
                        @bind-Value="@SelectedImages" SelectionMode="DataGridSelectionMode.Multiple" ShowPagingSummary="true"
                        PagingSummaryFormat="@(Count + " image" + (Count != 1 ? "s" : "") )" Density="Density.Compact"
                        AllowSorting="false" AllowFiltering="false"
                        TItem="DockerImageInfo" CellContextMenu="@(args => ShowContextMenuWithManageItems(args.Data, args))">
            <Columns>
                <RadzenDataGridColumn Width="36px" Frozen="true">
                    <HeaderTemplate>
                        <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select all items" } })"
                                        Value="@(SelectedImages == null || SelectedImages?.Any() != true ? false : !ImagesList.All(i => SelectedImages.Contains(i)) ? null : ImagesList.Any(i => SelectedImages.Contains(i)))"
                                        Change="@(args => SelectedImages = args == true ? (SelectedImages != null && SelectedImages.Any()) ? null : ImagesList.ToList() : null)" Disabled="@IsActionRunning" />
                    </HeaderTemplate>
                    <Template Context="data">
                        <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(SelectedImages != null && SelectedImages.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                                        TValue="bool" Change="@(() => grid.SelectRow(data))" Disabled="@IsActionRunning" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Name" Width="280px" Frozen="true">
                    <Template>
                        <RadzenLink Path="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/images/" + context.ID)">@context.Name</RadzenLink>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Version" Width="120px">
                    <Template>
                        @context.Version
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Status" Width="180px">
                    <Template>
                        @if (context.ContainersCount == 0)
                        {
                            <RadzenBadge Shade="Shade.Lighter" IsPill="true" BadgeStyle="BadgeStyle.Warning" Text="Unused" />
                        }
                        else
                        {
                            <RadzenBadge Shade="Shade.Lighter" IsPill="true" BadgeStyle="BadgeStyle.Info" Text="@(context.ContainersCount + " Container" + (context.ContainersCount != 1 ? "s" : ""))" />
                        }
                        @if (context.IsLocal)
                        {
                            <RadzenBadge Shade="Shade.Dark" IsPill="true" BadgeStyle="BadgeStyle.Info" Text="Local" class="ml-2" />
                        }
                        @if (context.IsParent)

                        {
                            <RadzenBadge Shade="Shade.Dark" IsPill="true" BadgeStyle="BadgeStyle.Info" Text="Parent" class="ml-2" />
                        }

                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Actions" Width="70px" Sortable="false" Filterable="false" Pickable="false">
                    <Template>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                            <RadzenButton Click=@(args => ShowContextMenuWithManageItems(context, args)) Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                        </RadzenStack>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Size" Width="80px">
                    <Template>
                        @Utils.SizeSuffix(context.Size)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Created" Width="90px">
                    <Template>
                        <RadzenContent MouseEnter="@(args => ShowUptimeTooltip(args, $"{(int)(DateTime.Now - context.Created).TotalDays} Days ago"))">@context.Created.ToString("dd'/'MM'/'yyyy")</RadzenContent>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn>
                    <Template>
                        <RadzenStack Gap="8px" Orientation="Orientation.Horizontal">
                            @if (!string.IsNullOrEmpty(context.Website))
                            {
                                <a href="@context.Website" target="_blank"><RadzenButton Text="Website" Icon="open_in_new" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" /></a>
                            }
                            @if (!string.IsNullOrEmpty(context.Docs))
                            {
                                <a href="@context.Docs" target="_blank"><RadzenButton Text="Docs" Icon="book" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" /></a>
                            }
                            @if (!string.IsNullOrEmpty(context.Source))
                            {
                                <a href="@context.Source" target="_blank"><RadzenButton Text="Source" Icon="code" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" /></a>
                            }
                        </RadzenStack>

                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</div>

<style>
    .dash-box-content .rz-button:not(.rz-button.rz-info):not(.rz-button.rz-success):not(.rz-button.rz-warning) {
        border-radius: 0px !important;
        margin-right: -4px !important;
        box-shadow: inset 0 0 0 var(--rz-border-width) rgb(150,150,150) !important;
    }

    .dash-box-content .rz-button-sm .rzi {
        font-size: 1.15rem !important;
        width: 1.15rem !important;
        height: 1.15rem !important;
    }
</style>

<style>
    .settings-item {
        width: 120px;
        height: 120px;
    }

        .settings-item .iconify {
            width: 30px;
            height: 30px;
            margin-top: 16px;
            color: var(--rz-info);
        }

        .settings-item .rz-text-h6 {
            margin-top: 14px;
            font-size: 1.1rem;
            color: var(--rz-base-200) !important;
        }

    .rz-stack a {
        text-decoration: none !important;
    }

    .settings-item:hover {
        background-color: var(--rz-base-dark);
        outline: solid 1px var(--rz-secondary-dark) !important;
    }

    .settings-item-disabled {
        opacity: 0.6;
        cursor: not-allowed !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
    public ServerData? Server => Session.Selected.Server;

    SocketResponse<DockerImageInfo[]?>? ImagesResponse = null;

    IQueryable<DockerImageInfo>? ImagesList;
    public int Count = 0;
    IList<DockerImageInfo>? SelectedImages;
    public bool AnySelected => SelectedImages != null ? SelectedImages.Any() : false;
    RadzenDataGrid<DockerImageInfo> grid = null!;
    public bool IsLoading = true;
    public bool IsActionRunning { get; set; }

    public async Task LoadData(LoadDataArgs args)
    {
        if (Member == null || Server == null)
            return;

        if (!Member.HasDockerPermission(Team, Server, DockerPermission.ViewImages))
            return;

        if (Program.IsPreviewMode)
        {
            ImagesList = new List<DockerImageInfo>
            {
            }.AsQueryable();
            Count = 0;
            IsLoading = false;
        }
        else
        {
            if (ImagesResponse == null)
            {
                IsLoading = true;
                await Server.RunJsonAsync<DockerImageInfo[]>(Notifications, new DockerEvent(DockerEventType.ListImages), (response) =>
                {
                    ImagesResponse = response;
                });

                IsLoading = false;
            }

            if (ImagesResponse != null && ImagesResponse.IsSuccess && ImagesResponse.Data != null)
            {
                IQueryable<DockerImageInfo> query = ImagesResponse.Data.AsQueryable();

                if (!string.IsNullOrEmpty(args.Filter))
                    query = query.Where(args.Filter);

                if (!string.IsNullOrEmpty(args.OrderBy))
                    query = query.OrderBy(args.OrderBy);

                Count = query.Count();
                ImagesList = query.OrderBy(x => x.Name).Skip(args.Skip.GetValueOrDefault()).Take(args.Top.GetValueOrDefault());
            }
            else
                ImagesList = new List<DockerImageInfo>().AsQueryable();
        }
    }

    public async Task SetNameFilter(string text)
    {
        await grid.ColumnsCollection.ElementAt(1).SetFilterValueAsync(text);
    }

    async Task RunSelectedContainersAction(ControlImageType type)
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }
        if (Member == null || Server == null || SelectedImages == null)
            return;

        if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
            return;

        if (type == ControlImageType.Export)
        {
            _ = Dialog.ShowInfoAsync("Unavailable", "The export feature is not available yet.");
            return;
        }
        IsActionRunning = true;
        await InvokeAsync(StateHasChanged);

        foreach(DockerImageInfo i in SelectedImages)
        {
            await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.ControlImage, i.ID, imageType: type));
        }
        SelectedImages.Clear();
        IsActionRunning = false;
        await InvokeAsync(RefreshImages);
    }

    void ShowContextMenuWithManageItems(DockerImageInfo item, MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = "View", Value = "view", Icon = "panorama", Disabled = Member == null || !Member.HasDockerPermission(Team, Server, DockerPermission.ViewImages) },
                //new ContextMenuItem(){ Text = "Export", Value = "export", Icon = "folder_zip", Disabled = Member == null || !Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages) },
                new ContextMenuItem(){ Text = "Remove", Value = "remove", Icon = "delete", Disabled = Member == null || item.ContainersCount != 0 || item.IsParent || !Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages) },
                new ContextMenuItem() { Text = "Force Remove", Value = "force_remove", Icon = "delete_forever", Disabled = Member == null || item.IsParent || !Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages) }
                                                 }, x => MenuItemClick(x, item));
    }

    void MenuItemClick(MenuItemEventArgs args, DockerImageInfo item)
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        if (Member == null || Server == null)
            return;

        _ = Task.Run(async () =>
        {
            switch (args.Value.ToString())
            {
                case "view":
                    if (!Member.HasDockerPermission(Team, Server, DockerPermission.ViewImages))
                        return;

                    Nav.NavigateTo("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/images/" + item.ID);
                    break;
                case "export":
                    if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
                        return;

                    _ = Dialog.ShowInfoAsync("Unavailable", "The export feature is not available yet.");
                    // await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.ControlImage, imageType: ControlImageType.Export) { ResourceList = new string[] { item.ID } }, (response) =>
                    //     {
                    //         InvokeAsync(RefreshImages);
                    //     });
                    break;
                case "remove":
                    {
                        if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
                            return;

                        IsActionRunning = true;
                        await InvokeAsync(StateHasChanged);
                        await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.ControlImage, imageType: ControlImageType.Remove) { ResourceList = new string[] { item.ID } }, (response) =>
                        {

                        });
                        IsActionRunning = false;
                        await InvokeAsync(RefreshImages);
                    }
                    break;
                case "force_remove":
                    {
                        if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
                            return;

                        bool Confirm = await Dialog.ShowConfirmAsync("Force Remove Image", "This will stop any running containers using this image.", "Confirm", ButtonStyle.Success);
                        if (Confirm)
                        {
                            if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
                                return;

                            IsActionRunning = true;
                            await InvokeAsync(StateHasChanged);
                            await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.ControlImage, imageType: ControlImageType.ForceRemove) { ResourceList = new string[] { item.ID } }, (response) =>
                            {

                            });
                            IsActionRunning = false;
                            await InvokeAsync(RefreshImages);
                        }
                    }
                    break;
            }
        });

        ContextMenuService.Close();
    }

    void ShowUptimeTooltip(ElementReference elementReference, string uptime) => tooltipService.Open(elementReference, uptime, null);


    async Task PullImage()
    {
        if (Member == null || Server == null)
            return;

        if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
            return;

        SocketResponse<RegistryLimitResponse?> Response = await Server.RecieveJsonAsync<RegistryLimitResponse>(new DockerEvent(DockerEventType.GetPullLimit));
        RegistryLimitResponse? Limits = null;
        if (Response.IsSuccess)
            Limits = Response.Data;

        dynamic Result = await Dialog.OpenAsync<PullImageDialog>("Pull Docker Image", new Dictionary<string, object?>
        {
            { "Limits", Limits }
        });
        if (Result == null)
            return;

        if ((bool)Result)
        {
            await RefreshImages();
        }

    }

    public async Task PruneImages()
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        if (Server == null || Member == null)
            return;

        if (!Member.HasDockerPermission(Team, Server, DockerPermission.ManageImages))
            return;

        bool Result = await Dialog.ShowConfirmAsync("Prune Images", "Are you sure you want to prune unused images?", "Confirm", ButtonStyle.Warning);
        if (Result)
        {
            IsActionRunning = true;
            await InvokeAsync(StateHasChanged);
            await Server.RunJsonAsync<object>(Notifications, new DockerEvent(DockerEventType.PruneImages), (rsponse) =>
            {

            });

            IsActionRunning = false;
            await InvokeAsync(RefreshImages);
        }
    }

    public async Task RefreshImages()
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        ImagesResponse = null;
        await grid.RefreshDataAsync();
    }
}
