@using DevSpaceShared.Events.Docker
@using DevSpaceShared.Responses
@using Docker.DotNet.Models
@using System.Linq.Dynamic.Core
@using Newtonsoft.Json.Linq
@using static DevSpaceWeb.Components.Pages.Server.DockerTools.ServerDockerContainers
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService tooltipService

<div class="dash-box">
    <div class="dash-box-content dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:storage"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">Docker Volumes</RadzenText>
        <RadzenTextBox Placeholder="Search..." @oninput=@(args => SetNameFilter(args.Value.ToString())) Style="max-width: 240px;" class="ml-4" />
    </div>

    <div class="dash-box-content">
        <RadzenButton Variant="Variant.Outlined" Text="Remove" Click="@(() => RunSelectedContainersAction(ControlImageType.Remove))" Icon="delete" Disabled="@(!AnySelected)" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" Style="border-radius: var(--rz-button-border-radius) !important; margin-right: 4px !important;" />

        <RadzenButton Variant="Variant.Filled" Text="Create Volume" Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@CreateImage" />
        <RadzenButton Variant="Variant.Filled" Text="Prune Volumes" Icon="delete_sweep" ButtonStyle="ButtonStyle.Warning" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@PruneImages" />
        <RadzenButton Variant="Variant.Filled" Text="Refresh Volumes" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshImages" />
    </div>

    <RadzenDataGrid @ref="@grid" AllowRowSelectOnRowClick="true" Data="@employees" LoadData="@LoadData" Count="@count" IsLoading="@isLoading"
    PagerHorizontalAlign="HorizontalAlign.Center" AllowPaging="true" PageSize="15" GridLines="DataGridGridLines.Horizontal"
    @bind-Value="@selectedEmployees" SelectionMode="DataGridSelectionMode.Multiple" ShowPagingSummary="true"
    PagingSummaryFormat="@(count + " volume" + (count != 1 ? "s" : "") )" Density="Density.Compact"
    AllowSorting="false"
    AllowFiltering="false" FilterPopupRenderMode="PopupRenderMode.OnDemand"
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
    GotoFirstPageOnSort="true"
    LogicalFilterOperator="LogicalFilterOperator.And" FilterMode="FilterMode.Advanced">
        <Columns>
            <RadzenDataGridColumn Width="36px" Sortable="false" Filterable="false" Frozen="true">
                <HeaderTemplate>
                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                    Value="@(selectedEmployees == null || selectedEmployees?.Any() != true ? false : !employees.All(i => selectedEmployees.Contains(i)) ? null : employees.Any(i => selectedEmployees.Contains(i)))"
                    Change="@(args => selectedEmployees = args == true ? employees.ToList() : null)" />
                </HeaderTemplate>
                <Template Context="data">
                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(selectedEmployees != null && selectedEmployees.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                    TValue="bool" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Name" Width="520px" Frozen="true" Filterable="false">
                <Template>
                    <RadzenLink Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers/" + Session.Selected.Server.VanityUrl + "/volumes/" + context.Name)">@context.Name</RadzenLink>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Status" Width="140px">
                <Template>
                    @if (!context.ContainersList.Any())
                    {
                        <RadzenBadge Shade="Shade.Lighter" IsPill="true" BadgeStyle="BadgeStyle.Warning" Text="Unused" />
                    }
                    else
                    {
                        <RadzenBadge Shade="Shade.Lighter" IsPill="true" BadgeStyle="BadgeStyle.Info" Text="@(context.ContainersList.Count() + " Container" +  (context.ContainersList.Count() != 1 ? "s" : ""))" MouseEnter="@(args => ShowUptimeTooltip(args, string.Join(", ", context.ContainersList)))" />
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Actions" Width="70px" Sortable="false" Filterable="false" Pickable="false">
                <Template>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenButton Click=@(args => ShowContextMenuWithManageItems(context, args)) Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Created">
                <Template>
                    <RadzenText TextStyle="TextStyle.Body2" MouseEnter="@(args => ShowUptimeTooltip(args, context.CreatedAt) )">@context.CreatedAt</RadzenText>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

<style>
    .dash-box-content .rz-button:not(.rz-button.rz-info):not(.rz-button.rz-success):not(.rz-button.rz-warning) {
    border-radius: 0px !important;
    margin-right: -4px !important;
    box-shadow: inset 0 0 0 var(--rz-border-width) #717376 !important;
    }

    .dash-box-content .rz-button-sm .rzi {
    font-size: 1.15rem !important;
    width: 1.15rem !important;
    height: 1.15rem !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    DockerResponse<CustomVolumeResponse>? containers = null;

    IQueryable<VolumeItem> employees;
    public int count = 0;
    IList<VolumeItem> selectedEmployees;
    public bool AnySelected => selectedEmployees != null ? selectedEmployees.Any() : false;
    RadzenDataGrid<VolumeItem> grid;
    public bool isLoading = false;

    public async Task LoadData(LoadDataArgs args)
    {
        Logger.LogMessage("Loading Data", LogSeverity.Info);

        if (Program.IsPreviewMode)
        {
            employees = new List<VolumeItem>
            {
            }.AsQueryable();
            count = 0;
        }
        else
        {
            if (containers == null)
            {
                isLoading = true;
                try
                {
                    containers = await Session.Selected.Server.Data.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<CustomVolumeResponse>>(new DockerEvent(DockerEventType.ListVolumes));
                }
                catch (Exception ex)
                {
                    Logger.LogMessage(ex.ToString(), LogSeverity.Warn);
                }
                try
                {
                    var list = await Session.Selected.Server.Data.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<ContainerItem[]>>(new DockerEvent(DockerEventType.ListContainers));
                    foreach (var i in list.Data)
                    {
                        foreach(var n in containers.Data.Volumes)
                        {
                            if (i.Mounts.Any(x => x.Name == n.Name))
                                n.ContainersList.Add(i.Name);
                        }
                    }
                }
                catch { }
                isLoading = false;


            }

            if (containers != null)
            {
                var query = containers.Data.Volumes.AsQueryable();

                if (!string.IsNullOrEmpty(args.Filter))
                    query = query.Where(args.Filter);

                if (!string.IsNullOrEmpty(args.OrderBy))
                    query = query.OrderBy(args.OrderBy);

                count = query.Count();
                employees = query.Skip(args.Skip.Value).Take(args.Top.Value);
            }
        }
    }

    public async Task SetNameFilter(string text)
    {

        Console.WriteLine("Set Filter: " + text);
        await grid.ColumnsCollection.ElementAt(1).SetFilterValueAsync(text);
    }

    void RunSelectedContainersAction(ControlImageType type)
    {
        _ = Task.Run(async () =>
        {
            await Session.Selected.Server.Data.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlPlugin, imageType: type) { ResourceList = selectedEmployees.Select(x => x.Name).ToArray() });
        });
        selectedEmployees.Clear();
    }

    void ShowContextMenuWithManageItems(VolumeItem item, MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = "Export", Value = "export", Icon = "folder_zip" },
                new ContextMenuItem(){ Text = "Remove", Value = "remove", Icon = "delete" },
                                                     }, x => MenuItemClick(x, item));
    }

    void MenuItemClick(MenuItemEventArgs args, VolumeItem item)
    {
        _ = Task.Run(async () =>
        {
            switch (args.Value.ToString())
            {
                case "export":
                    break;
                case "remove":
                    break;
            }
        });

        ContextMenuService.Close();
    }

    void ShowUptimeTooltip(ElementReference elementReference, string uptime) => tooltipService.Open(elementReference, uptime, null);

    public class CustomVolumeResponse
    {
        public IList<VolumeItem> Volumes { get; set; }

        public IList<string> Warnings { get; set; }
    }

    public class VolumeItem : VolumeResponse
    {
        public List<string> ContainersList = new List<string>();
    }

    async Task CreateImage()
    {

    }

    public async Task PruneImages()
    {
        await Session.Selected.Server.Data.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.PruneImages));
    }

    public async Task RefreshImages()
    {

    }
}
