@using System.Net.WebSockets
@using DevSpaceShared.Events.Docker
@using DevSpaceShared.Responses
@using DevSpaceShared.WebSocket
@using Docker.DotNet.Models
@using System.Linq.Dynamic.Core
@inject ContextMenuService ContextMenuService
@inject TooltipService tooltipService

<PageTitle>Docker Containers | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box">
    <div class="dash-box-header dash-box-content">
        <div class="dash-box-icon"><span class="iconify" data-icon="ri:box-3-fill"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Containers</RadzenText>
        <RadzenTextBox Placeholder="Search..." @oninput=@(args => SetNameFilter(args.Value.ToString())) Style="max-width: 240px;" class="ml-4" />
    </div>
    <div class="dash-box-content">
        <RadzenButton Variant="Variant.Outlined" Text="Start" Click="@(() => RunSelectedContainersAction(ControlContainerType.Start))" Icon="power_settings_new" IconColor="@Colors.SuccessDark" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" Style="border-radius: var(--rz-button-border-radius) 0 0 var(--rz-button-border-radius) !important;" />
        <RadzenButton Variant="Variant.Outlined" Text="Stop" Click="@(() => RunSelectedContainersAction(ControlContainerType.Stop))" Icon="stop" IconColor="@Colors.DangerDark" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
        <RadzenButton Variant="Variant.Outlined" Text="Restart" Click="@(() => RunSelectedContainersAction(ControlContainerType.Restart))" Icon="restart_alt" IconColor="@Colors.WarningDark" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
        <RadzenButton Variant="Variant.Outlined" Text="Kill" Click="@(() => RunSelectedContainersAction(ControlContainerType.Kill))" Icon="bolt" IconColor="@Colors.InfoDark" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
        <RadzenButton Variant="Variant.Outlined" Text="Pause" Click="@(() => RunSelectedContainersAction(ControlContainerType.Pause))" Icon="pause" IconColor="@Colors.InfoDark" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
        <RadzenButton Variant="Variant.Outlined" Text="Resume" Click="@(() => RunSelectedContainersAction(ControlContainerType.UnPause))" Icon="play_arrow" IconColor="@Colors.InfoDark" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
        <RadzenButton Variant="Variant.Outlined" Text="Remove" Click="@(() => RunSelectedContainersAction(ControlContainerType.Remove))" Icon="delete" Disabled="@(!AnySelected || !Member.HasDockerPermission(Server, DockerPermission.ManageContainers))" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" Style="border-radius: 0 var(--rz-button-border-radius) var(--rz-button-border-radius) 0 !important; margin-right: 4px !important;" />
        <RadzenButton Variant="Variant.Filled" Text="Create Container" Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Size="ButtonSize.Small" Disabled="@(!Member.HasDockerPermission(Server, DockerPermission.ManageContainers))" />
        <RadzenButton Variant="Variant.Filled" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshContainers" Disabled="@isLoading" />
    </div>
    <RadzenDataGrid @ref="@grid" AllowRowSelectOnRowClick="false" Data="@containersList" LoadData="@LoadData" Count="@count" IsLoading="@isLoading"
    PagerHorizontalAlign="HorizontalAlign.Center" AllowPaging="true" PageSize="15" GridLines="DataGridGridLines.Horizontal"
    @bind-Value="@selectedContainers" SelectionMode="DataGridSelectionMode.Multiple" ShowPagingSummary="true"
    PagingSummaryFormat="@(count + " container" + (count != 1 ? "s" : "") + $" - {countDead} down" )" Density="Density.Compact"
    AllowSorting="false"
    AllowFiltering="false" FilterPopupRenderMode="PopupRenderMode.OnDemand"
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
    GotoFirstPageOnSort="true"
    LogicalFilterOperator="LogicalFilterOperator.And" FilterMode="FilterMode.Advanced">
        <Columns>
            <RadzenDataGridColumn Width="36px" Sortable="false" Filterable="false" Frozen="true">
                <HeaderTemplate>
                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                    Value="@(selectedContainers == null || selectedContainers?.Any() != true ? false : !containersList.All(i => selectedContainers.Contains(i)) ? null : containersList.Any(i => selectedContainers.Contains(i)))"
                                    Change="@(args => selectedContainers = (args == true && containersList != null) ? containersList.ToList() : null)" />
                </HeaderTemplate>
                <Template Context="data">
                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(selectedContainers != null && selectedContainers.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                    TValue="bool" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Name" Property="@nameof(ContainerItem.Name)" Width="160px" Frozen="true" Filterable="false">
                <Template>
                    <RadzenLink Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers/" + Session.Selected.Team.Server.VanityUrl + "/containers/" + context.ID)" Text="@context.GetName()" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Status" Property="@nameof(ContainerItem.State)" FilterMode="FilterMode.CheckBoxList" Width="100px">
                <Template>
                    @switch (context.State)
                    {
                        case "running":
                            @if (context.Status.EndsWith("(healthy)"))
                            {
                                <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Success" Text="Healthy" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            }
                            else if (context.Status.EndsWith("(unhealthy)"))
                            {
                                <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Warning" Text="Unhealthy" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            }
                            else
                            {
                                <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Success" Text="Running" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            }
                            break;
                        case "created":
                            <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Secondary" Text="Created" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            break;
                        case "restarting":
                            <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Warning" Text="Restarting" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            break;
                        case "removing":
                            <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Secondary" Text="Removing" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            break;
                        case "paused":
                            <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Info" Text="Paused" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            break;
                        case "exited":
                            <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Danger" Text="Exited" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            break;
                        case "dead":
                            <RadzenBadge Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Danger" Text="Down" IsPill="true" MouseEnter="@(args => ShowUptimeTooltip(args, context.Status) )" />
                            break;
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Actions" Width="100px" Sortable="false" Filterable="false" Pickable="false">
                <Template>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenButton Click=@(args => ShowContextMenuWithControlsItems(context, args)) Icon="power_settings_new" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(!Member.HasDockerPermission(Server, DockerPermission.ControlContainers))" />
                        <RadzenButton Click=@(args => ShowContextMenuWithManageItems(context, args)) Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Stack" Width="160px">
                <Template>
                    <RadzenLink Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers/" + Session.Selected.Team.Server.VanityUrl + "/stacks/" + context.ID)" Text="Test" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Image" Width="240px" Property="@nameof(ContainerListResponse.Image)">
                <Template>
                    <RadzenLink Path="@("https://hub.docker.com/r/" + context.Image.Split(":").First())" Target="_blank" Text="@context.Image.Split(":").First()" MouseEnter="@(args => ShowUptimeTooltip(args, context.GetImageExtra()) )" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Created" Property="@nameof(ContainerListResponse.Created)">
                <Template>
                    <RadzenText TextStyle="TextStyle.Body2" MouseEnter="@(args => ShowUptimeTooltip(args, $"{(int)(DateTime.Now - context.Created).TotalDays} Days ago") )">@context.Created.ToString("dd'/'MM'/'yyyy")</RadzenText>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

<style>
    .dash-box-content .rz-button:not(.rz-button.rz-info):not(.rz-button.rz-success):not(.rz-button.rz-warning) {
    border-radius: 0px !important;
    margin-right: -4px !important;
    box-shadow: inset 0 0 0 var(--rz-border-width) #717376 !important;
    }

    .dash-box-content .rz-button-sm .rzi {
    font-size: 1.15rem !important;
    width: 1.15rem !important;
    height: 1.15rem !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamMemberData Member => Session.Selected.Member;
    public TeamData Team => Session.Selected.Team.Data;
    public ServerData Server => Session.Selected.Server;

    DockerResponse<ContainerItem[]>? containersResponse = new DockerResponse<ContainerItem[]>();

    IQueryable<ContainerItem> containersList;
    public int count = 0;
    public int countDead = 0;
    IList<ContainerItem> selectedContainers;
    public bool AnySelected => selectedContainers != null ? selectedContainers.Any() : false;
    RadzenDataGrid<ContainerItem> grid;
    public bool isLoading = false;


    public async Task SetNameFilter(string text)
    {
        await grid.ColumnsCollection.ElementAt(1).SetFilterValueAsync(text);
    }

    public async Task LoadData(LoadDataArgs args)
    {
        Logger.LogMessage("Loading Data", LogSeverity.Info);

        if (Program.IsPreviewMode)
        {
            containersList = new List<ContainerItem>
             {
                 new ContainerItem 
                 {
                     Names = new List<string> { "/my-api" }, State = "running", Status = "test (healthy)", 
                     Created = DateTime.UtcNow,
                     Labels = new Dictionary<string, string>(),
                     Mounts = new List<MountPoint>(),
                     NetworkSettings = new SummaryNetworkSettings(),
                     Ports = new List<Port>(),
                     Image = "test:latest"
                 },
                 new ContainerItem
                 {
                     Names = new List<string> { "/discord-bot" }, State = "dead", Status = "test",
                     Created = DateTime.UtcNow,
                     Labels = new Dictionary<string, string>(),
                     Mounts = new List<MountPoint>(),
                     NetworkSettings = new SummaryNetworkSettings(),
                     Ports = new List<Port>(),
                     Image = "test:latest"
                 },
             }.AsQueryable();
            count = 2;
            countDead = 1;
        }
        else
        {
            if (containersResponse == null)
            {
                isLoading = true;
                try
                {
                    containersResponse = await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<ContainerItem[]>>(new DockerEvent(DockerEventType.ListContainers));
                }
                catch (Exception ex)
                {
                    Logger.LogMessage(ex.ToString(), LogSeverity.Warn);
                }
                isLoading = false;


            }

            if (containersResponse != null)
            {
                IQueryable<ContainerItem> query = containersResponse.Data.AsQueryable();

                if (!string.IsNullOrEmpty(args.Filter))
                    query = query.Where(args.Filter);

                if (!string.IsNullOrEmpty(args.OrderBy))
                    query = query.OrderBy(args.OrderBy);

                count = query.Count();
                countDead = query.Count(x => x.IsDead());
                containersList = query.Skip(args.Skip.Value).Take(args.Top.Value);
            }
        }
    }

    void ShowContextMenuWithControlsItems(ContainerItem item, MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = "Start", Value = "start", Icon = "power_settings_new", IconColor = Colors.SuccessDark },
                new ContextMenuItem(){ Text = "Stop", Value = "stop", Icon = "stop", IconColor = Colors.DangerDark },
                new ContextMenuItem(){ Text = "Restart", Value = "restart", Icon = "restart_alt", IconColor = Colors.WarningDark },
                new ContextMenuItem(){ Text = "Kill", Value = "kill", Icon = "bolt", IconColor = Colors.InfoDark },
                new ContextMenuItem(){ Text = "Pause", Value = "pause", Icon = "pause", IconColor = Colors.InfoDark },
                new ContextMenuItem(){ Text = "Resume", Value = "resume", Icon = "play_arrow", IconColor = Colors.InfoDark },
                         }, x => MenuItemClick(x, item));
    }

    void ShowContextMenuWithManageItems(ContainerItem item, MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = "Config", Value = "config", Icon = "settings" },
                new ContextMenuItem(){ Text = "Permissions", Value = "permissions", Icon = "shield_lock" },
                new ContextMenuItem(){ Text = "Logs", Value = "logs", Icon = "subject" },
                new ContextMenuItem(){ Text = "Inspect", Value = "inspect", Icon = "search" },
                new ContextMenuItem(){ Text = "Stats", Value = "stats", Icon = "monitoring" },
                new ContextMenuItem(){ Text = "Execute", Value = "execute", Icon = "terminal" },
                                     }, x => MenuItemClick(x, item));
    }

    void MenuItemClick(MenuItemEventArgs args, ContainerItem item)
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        _ = Task.Run(async () =>
        {
            switch (args.Value.ToString())
            {
                case "start":
                    await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, item.ID, ControlContainerType.Start));
                    break;
                case "stop":
                    await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, item.ID, ControlContainerType.Stop));
                    break;
                case "restart":
                    await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, item.ID, ControlContainerType.Restart));
                    break;
                case "kill":
                    await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, item.ID, ControlContainerType.Kill));
                    break;
                case "pause":
                    await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, item.ID, ControlContainerType.Pause));
                    break;
                case "resume":
                    await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, item.ID, ControlContainerType.UnPause));
                    break;
            }
        });

        ContextMenuService.Close();
    }

    void RunSelectedContainersAction(ControlContainerType type)
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        _ = Task.Run(async () =>
        {
            await Server.GetWebSocket().Client.RecieveJsonAsync<DockerResponse<object>>(new DockerEvent(DockerEventType.ControlContainer, null, type) { ResourceList = selectedContainers.Select(x => x.ID).ToArray() });
        });
        selectedContainers.Clear();
    }

    void ShowUptimeTooltip(ElementReference elementReference, string uptime) => tooltipService.Open(elementReference, uptime, null);

    public class ContainerItem : ContainerListResponse
    {
        public string Name => Names.First().Substring(1);

        public bool IsOnline()
        {
            @switch (State)
            {
                case "running":
                case "restarting":
                    return true;
            }

            return false;
        }
    }

    public async Task RefreshContainers()
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        await grid.RefreshDataAsync();
    }
}
