@using DevSpaceWeb.Components.Pages.Teams
@using static DevSpaceWeb.Components.Pages.Previews.PreviewsPage
@page "/"

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:account-supervisor-circle"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6" @onclick="@(() => TestIcon = !TestIcon)">Dashboard</RadzenText>
        <br />
        <br />
        @if (TestIcon)
        {
            <iconify-icon icon="mdi:home"></iconify-icon>
        }
        else
        {
            <iconify-icon icon="mdi:arrow-left-thick"></iconify-icon>
        }
    </div>
</div>

<MyTeams></MyTeams>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon">
            <span class="iconify" data-icon="mdi:toolbox"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Tools</RadzenText>
        <br />
        <br />
    </div>
    <br />
    <div style="display: flex; align-items: flex-start; flex-wrap: wrap;">
        @foreach (Feature i in Features.OrderBy(x => x.Name))
        {
            <a href="@i.Path" target="_blank" style="color: cornflowerblue">
                <div Class="tool-item">
                    <RadzenText TextStyle="TextStyle.Subtitle1">@i.Name</RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline">@i.Desc</RadzenText>
                    <span class="iconify" data-icon="@i.Icon"></span>

                </div>
            </a>
        }
    </div>
</div>

<style>
    .tool-item {
        display: inline-block !important;
        margin-right: 6px;
        margin-bottom: 2px;
        margin-top: 6px;
        border-radius: 8px;
        padding: 10px;
        border: 1px solid #2f2f31 !important;
        background-color: #161617 !important;
        width: 8.4rem;
        height: 8.4rem;
        text-align: center;
    }

        .tool-item:hover {
            background-color: #1b1b1c !important;
            border: 1px solid #3b3b3e !important;
        }

        .tool-item .rz-text-subtitle1 {
            margin-left: auto;
            margin-right: auto;
        }

        .tool-item .rz-text-subtitle2 {
            color: var(--rz-text-overline-color) !important;
        }

        .tool-item .rz-text-overline {
            display: block;
            font-size: 0.7rem;
            letter-spacing: var(--rz-text-subtitle2-letter-spacing);
            color: var(--rz-text-tertiary-color);
            margin-bottom: 12px;
        }


        .tool-item .iconify {
            width: 36px;
            height: 36px;
        }
</style>

@code {
    public bool TestIcon { get; set; }

    public static Feature[] Features = new Feature[]
    {
        new Feature
        {
            Name = "Image Tools",
            Icon = "mdi:image-edit",
            Path = "https://ezgif.com",
            Desc = "ezgif.com"
        },
        new Feature
        {
            Name = "Whiteboard",
            Icon = "mdi:draw",
            Path = "https://excalidraw.com/",
            Desc = "excalidraw.com"
        },
        new Feature
        {
            Name = "Database Design",
            Icon = "mdi:flowchart",
            Path = "https://dbdiagram.io",
            Desc = "dbdiagram.io"
        },
        new Feature
        {
            Name = "Icons",
            Icon = "mdi:puzzle",
            Path = "https://icon-sets.iconify.design",
            Desc = "iconify.design"
        },
        new Feature
        {
            Name = "DNS/IP",
            Icon = "mdi:internet-protocol",
            Path = "https://dnschecker.org/all-tools.php",
            Desc = "dnschecker.org"
        },
        new Feature
        {
            Name = "Open Graph",
            Icon = "mdi:tag-text",
            Path = "https://orcascan.com/tools/open-graph-validator",
            Desc = "orcascan.com"
        },
        new Feature
        {
            Name = "Private Pastes",
            Icon = "mdi:file-code",
            Path = "https://zerobin.org",
            Desc = "zerobin.org"
        },
        new Feature
        {
            Name = "Json Parser",
            Icon = "mdi:code-json",
            Path = "https://jsonformatter.org",
            Desc = "jsonformatter.org"
        },
        new Feature
        {
            Name = "Url Scanner",
            Icon = "mdi:shield-link-variant",
            Path = "https://urlscan.io",
            Desc = "urlscan.io"
        },
        new Feature
        {
            Name = "Malware Sandbox",
            Icon = "mdi:shield-bug",
            Path = "https://www.hybrid-analysis.com",
            Desc = "hybrid-analysis.com"
        },
        new Feature
        {
            Name = "Color Hex",
            Icon = "mdi:invert-colors",
            Path = "https://www.color-hex.com",
            Desc = "color-hex.com"
        },
        new Feature
        {
            Name = "Discord Embed v2 Builder",
            Icon = "mdi:format-list-text",
            Path = "https://discord.builders",
            Desc = "discord.builders"
        },
        new Feature
        {
            Name = "Image Remove Background",
            Icon = "mdi:image-filter-hdr",
            Path = "https://www.remove.bg",
            Desc = "remove.bg"
        },
        new Feature
        {
            Name = "Image Upscale",
            Icon = "mdi:image-size-select-large",
            Path = "https://www.cutout.pro/photo-enhancer-sharpener-upscaler",
            Desc = "cutout.pro"
        },
        new Feature
        {
          Name = "Image Photoshop",
          Icon = "mdi:image-auto-adjust",
          Path = "https://www.photopea.com",
          Desc = "photopea.com"
        },
        new Feature
        {
            Name = "Video/Audio Edit",
            Icon = "mdi:video",
            Path = "https://123apps.com",
            Desc = "123apps.com"
        },
        new Feature
        {
            Name = "3D Design",
            Icon = "mdi:f03d6",
            Path = "https://spline.design",
            Desc = "spline.design"
        },
        new Feature
        {
            Name = "Fonts",
            Icon = "mdi:format-font",
            Path = "https://fontshare.com",
            Desc = "fontshare.com"
        },
        new Feature
        {
            Name = "Color Pallets",
            Icon = "mdi:color",
            Path = "https://colorhunt.co",
            Desc = "colorhunt.co"
        },
        new Feature
        {
            Name = "AI Chat",
            Icon = "mdi:chat-question",
            Path = "https://chatgpt.com",
            Desc = "chatgpt.com"
        },
        new Feature
        {
            Name = "Translations",
            Icon = "mdi:translate",
            Path = "https://deepl.com",
            Desc = "deepl.com"
        },
        new Feature
        {
            Name = "Typescript Json Import",
            Icon = "mdi:code-json",
            Path = "https://jvilk.com/MakeTypes",
            Desc = "jvilk.com"
        },
        new Feature
        {
            Name = "C# Sandbox",
            Icon = "mdi:language-csharp",
            Path = "https://lab.razor.fyi",
            Desc = "lab.razor.fyi"
        },
        new Feature
        {
            Name = "PDF Tools",
            Icon = "mdi:file-powerpoint",
            Path = "https://www.ilovepdf.com",
            Desc = "ilovepdf.com"
        },
        new Feature
        {
            Name = "JavaScript Formatter",
            Icon = "mdi:code-tags-check",
            Path = "https://prettier.io/playground",
            Desc = "prettier.io"
        },
        new Feature
        {
            Name = "Discord Icons",
            Icon = "mdi:emoticon",
            Path = "https://discordicon.com/icons-editor",
            Desc = "discordicon.com"
        },
        new Feature
        {
            Name = "Discord Embed Builder",
            Icon = "mdi:card-text",
            Path = "https://discohook.org",
            Desc = "discohook.org"
        }
    };    
}