@using DevSpaceWeb.Components.Dialogs
@using DevSpaceWeb.Models
@using DevSpaceWeb.Models.Teams
@using Microsoft.AspNetCore.Components.Forms

@if (!IsHome)
{
    <PageTitle>Team Settings | @_Data.Config.Instance.Name</PageTitle>
}
else
{
    <div class="dash-box dash-box-content">
        <div class="dash-box-header">
            <div class="dash-box-icon"><span class="iconify" data-icon="mdi:view-list"></span></div>
            <RadzenText TextStyle="TextStyle.H6">Resources</RadzenText>
        </div>
        <br />
        <RadzenStack Gap="10px" Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
            <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/apps")">
                <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:rocket-launch"></span>
                    <RadzenText TextStyle="TextStyle.H6">Apps</RadzenText>
                </RadzenCard>
            </a>
            <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers")">
                <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:server"></span>
                    <RadzenText TextStyle="TextStyle.H6">Servers</RadzenText>
                </RadzenCard>
            </a>
            <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/consoles")">
                <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:console-line"></span>
                    <RadzenText TextStyle="TextStyle.H6">Consoles</RadzenText>
                </RadzenCard>
            </a>
            <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/logs")">
                <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:warning"></span>
                    <RadzenText TextStyle="TextStyle.H6">Logs</RadzenText>
                </RadzenCard>
            </a>
            <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/projects")">
                <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:lightbulb"></span>
                    <RadzenText TextStyle="TextStyle.H6">Projects</RadzenText>
                </RadzenCard>
            </a>
            <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/status")">
                <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:information-slab-circle"></span>
                    <RadzenText TextStyle="TextStyle.H6">Status</RadzenText>
                </RadzenCard>
            </a>
            @if (Program.IsDevMode)
            {
                <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/proxmox")">
                    <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                        <span class="iconify" data-icon="mdi:network-pos"></span>
                        <RadzenText TextStyle="TextStyle.H6">Proxmox</RadzenText>
                    </RadzenCard>
                </a>
                <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/links")">
                    <RadzenCard class="rz-p-1 rz-text-align-center settings-item">
                    <span class="iconify" data-icon="mdi:link-variant"></span>
                    <RadzenText TextStyle="TextStyle.H6">Links</RadzenText>
                </RadzenCard>
            </a>
            }
        </RadzenStack>
    </div>
}

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        @if (IsHome)
        {
            <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        }
        else
        {
            <div class="dash-box-icon dash-box-back" onclick="history.back()">
                <span class="iconify" data-icon="mdi:gear"></span>
                <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
            </div>
        }
        <RadzenText TextStyle="TextStyle.H6">@(IsHome ? "Settings" : Team?.Name + " Settings")</RadzenText>
    </div>
    <br />
    <RadzenStack Gap="10px" Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/settings/basic")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasTeamPermission(Team, TeamPermission.ManageTeam) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:gear"></span>
                <RadzenText TextStyle="TextStyle.H6">Settings</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/settings/members")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasTeamPermission(Team, TeamPermission.ViewMembers) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:account-supervisor"></span>
                <RadzenText TextStyle="TextStyle.H6">Members</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/settings/roles")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasTeamPermission(Team, TeamPermission.ViewRoles) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:shield-key"></span>
                <RadzenText TextStyle="TextStyle.H6">Roles</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/settings/audit")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasTeamPermission(Team, TeamPermission.ViewAuditLogs) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:format-list-bulleted-square"></span>
                <RadzenText TextStyle="TextStyle.H6">Audit Logs</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/settings/api")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasAPIPermission(Team, APIPermission.ViewOwnAPIs) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:robot"></span>
                <RadzenText TextStyle="TextStyle.H6">API</RadzenText>
            </RadzenCard>
        </a>
    </RadzenStack>
</div>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Manage</RadzenText>
    </div>
    <br />
    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">ID</RadzenText>
    <RadzenText TextStyle="TextStyle.Body2">
        @Team?.Id
        <CopyClipboard Value="@Team?.Id.ToString()"></CopyClipboard>
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">Owner</RadzenText>
    <MemberStrip Team="@Team" UserId="@Team?.OwnerId"></MemberStrip>
    <br />
    <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/settings/delete")"><RadzenButton Shade="Shade.Dark" ButtonStyle="ButtonStyle.Danger" Text="Delete Team" Disabled="@(Member == null || Team?.OwnerId != Member.UserId)" /></a>
</div>

<style>
    .settings-item {
        width: 120px;
        height: 120px;
    }

        .settings-item .iconify {
            width: 30px;
            height: 30px;
            margin-top: 16px;
            color: var(--rz-info);
        }

    .settings-item .rz-text-h6 {
    margin-top: 14px;
    font-size: 1.1rem;
    color: var(--rz-base-200) !important;
    }

    .rz-stack a {
    text-decoration: none !important;
    }

    .settings-item:hover {
    background-color: var(--rz-base-dark);
    outline: solid 1px var(--rz-secondary-dark) !important;
    }

    .settings-item-disabled {
    opacity: 0.6;
    cursor: not-allowed !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;

    [Parameter]
    public bool IsHome { get; set; }
}
