@using DevSpaceWeb.Components.Dialogs
@using DevSpaceWeb.Models
@using DevSpaceWeb.Models.Teams
@using Microsoft.AspNetCore.Components.Forms
@inject DialogService DialogService

@if (!ManageRoles)
{
    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
        You do not have permission for Manage Roles.
    </RadzenAlert>
}
else
{
    <RadzenButton ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Text="Create Role" Click="@CreateRole" />
    <br />
    <RadzenRow Gap="0.2rem">
        <RadzenColumn Size="3" class=" rz-py-2 pr-2">
            <RadzenListBox @bind-Value="@SelectedRole" Data="@Roles"
            TextProperty="@nameof(TeamRoleData.Name)" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
            Style="width: 100%; max-width: 400px; height:200px" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select role" }})" />
        </RadzenColumn>
        <RadzenColumn class="rz-py-2">
            @if (SelectedRole != null)
            {
                <div class="role-info">
                    <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0">@SelectedRole.Name Role</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2">
                        @SelectedRole.Description
                    </RadzenText>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Shade="Shade.Dark" Text="Delete Role" Click="@CreateRole" />
                </div>
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="0.2rem">

                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:tag"></span> Role Permissions</RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="TeamGlobalAdministrator" />
                            <RadzenLabel Text="Global Administrator" Component="TeamGlobalAdministrator" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">Access all permissions and resources for the team.</span>
                        </div>
                    </RadzenStack>
                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:people-group"></span> Team Permissions</RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="TeamAdministrator" />
                            <RadzenLabel Text="Team Administrator" Component="TeamAdministrator" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">All team permissions.</span>
                        </div>

                        <div>
                            <RadzenDropDown @ref="TeamGrid.Grid" TValue="PermissionItem<TeamPermission>" Placeholder="Select permission..." AllowFiltering="true" Chips="true" Data="@TeamGrid.Data" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" AllowSelectAll="false" TextProperty="Name">
                                <Template>
                                    <RadzenLabel Text="@((context as PermissionItem<TeamPermission>).Name)" Style="display: block;" />
                                    <span style="color: var(--rz-text-tertiary-color)">@((context as PermissionItem<TeamPermission>).Description)</span>

                                </Template>
                                <ValueTemplate>
                                    @((context as PermissionItem<TeamPermission>).Name)
                                </ValueTemplate>

                            </RadzenDropDown>
                        </div>
                    </RadzenStack>
                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:server"></span> Server Permissions</RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox @bind-Value="@CheckBoxOther" Name="ServerAdmin" />
                            <RadzenLabel Text="Server Administrator" Component="ServerAdmin" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">All server permissions.</span>
                        </div>

                        <div>
                            <RadzenDropDown @ref="ServerGrid.Grid" TValue="PermissionItem<ServerPermission>" Placeholder="Select permission..."
                            AllowFiltering="true" Chips="true" Data="@ServerGrid.Data" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Multiple="true" AllowSelectAll="false" TextProperty="Name">
                                <Template>
                                    <RadzenLabel Text="@((context as PermissionItem<ServerPermission>).Name)" Style="display: block;" />
                                    <span style="color: var(--rz-text-tertiary-color)">@((context as PermissionItem<ServerPermission>).Description)</span>

                                </Template>
                                <ValueTemplate>
                                    @((context as PermissionItem<ServerPermission>).Name)
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </RadzenStack>
                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:docker"></span> Docker Permissions</RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" Style="">
                            Requires permission <strong>View Servers</strong> to use docker features.
                        </RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="ServerDockerAdministrator" />
                            <RadzenLabel Text="Docker Administrator" Component="ServerDockerAdministrator" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">All docker permissions.</span>
                        </div>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="ServerDockerManager" />
                            <RadzenLabel Text="Docker Manager" Component="ServerDockerManager" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">Manage most docker features except for system access or dangerous actions.</span>
                        </div>

                        <div>
                            <RadzenDropDown @ref="DockerGrid.Grid" TValue="PermissionItem<DockerPermission>" Placeholder="Select permission..."
                            AllowFiltering="true" Chips="true" Data="@DockerGrid.Data" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Multiple="true" AllowSelectAll="false" TextProperty="Name">
                                <Template>
                                    <RadzenLabel Text="@((context as PermissionItem<DockerPermission>).Name)" Style="display: block;" />
                                    <span style="color: var(--rz-text-tertiary-color)">@((context as PermissionItem<DockerPermission>).Description)</span>

                                </Template>
                                <ValueTemplate>
                                    @((context as PermissionItem<DockerPermission>).Name)
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </RadzenStack>
                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:web"></span> Website Permissions</RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="WebsiteAdmin" />
                            <RadzenLabel Text="Website Administrator" Component="WebsiteAdmin" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">All website permissions.</span>
                        </div>

                        <div>
                            <RadzenDropDown @ref="WebsiteGrid.Grid" TValue="PermissionItem<WebsitePermission>" Placeholder="Select permission..."
                            AllowFiltering="true" Chips="true" Data="@WebsiteGrid.Data" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Multiple="true" AllowSelectAll="false" TextProperty="Name">
                                <Template>
                                    <RadzenLabel Text="@((context as PermissionItem<WebsitePermission>).Name)" Style="display: block;" />
                                    <span style="color: var(--rz-text-tertiary-color)">@((context as PermissionItem<WebsitePermission>).Description)</span>

                                </Template>
                                <ValueTemplate>
                                    @((context as PermissionItem<WebsitePermission>).Name)
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </RadzenStack>
                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:lightbulb"></span> Project Permissions</RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="ProjectAdmin" />
                            <RadzenLabel Text="Project Administrator" Component="ProjectAdmin" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">All project permissions.</span>
                        </div>

                        <div>
                            <RadzenDropDown @ref="ProjectGrid.Grid" TValue="PermissionItem<ProjectPermission>" Placeholder="Select permission..."
                            AllowFiltering="true" Chips="true" Data="@ProjectGrid.Data" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Multiple="true" AllowSelectAll="false" TextProperty="Name">
                                <Template>
                                    <RadzenLabel Text="@((context as PermissionItem<ProjectPermission>).Name)" Style="display: block;" />
                                    <span style="color: var(--rz-text-tertiary-color)">@((context as PermissionItem<ProjectPermission>).Description)</span>

                                </Template>
                                <ValueTemplate>
                                    @((context as PermissionItem<ProjectPermission>).Name)
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </RadzenStack>
                    <RadzenStack Gap="0" class="role-box">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" class="rz-display-flex rz-mt-2 rz-my-0"><span class="iconify" data-icon="mdi:warning"></span> Log Permissions</RadzenText>

                        <div class="role-permissions">
                            <RadzenCheckBox Value="@CheckBox" Name="LogAdmin" />
                            <RadzenLabel Text="Log Administrator" Component="LogAdmin" class="rz-ms-2" />
                            <span style="color: var(--rz-text-tertiary-color)">All log permissions.</span>
                        </div>

                        <div>
                            <RadzenDropDown @ref="LogGrid.Grid" TValue="PermissionItem<LogPermission>" Placeholder="Select permission..."
                            AllowFiltering="true" Chips="true" Data="@LogGrid.Data" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Multiple="true" AllowSelectAll="false" TextProperty="Name">
                                <Template>
                                    <RadzenLabel Text="@((context as PermissionItem<LogPermission>).Name)" Style="display: block;" />
                                    <span style="color: var(--rz-text-tertiary-color)">@((context as PermissionItem<LogPermission>).Description)</span>

                                </Template>
                                <ValueTemplate>
                                    @((context as PermissionItem<LogPermission>).Name)
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </RadzenStack>
                </RadzenStack>
            }
        </RadzenColumn>
    </RadzenRow>
}

<style>
    .role-box .rz-dropdown {
    width: 100% !important;
    }
</style>

@code {
    [Parameter]
    public bool ManageRoles { get; set; }

    [Parameter]
    public System.Collections.Generic.ICollection<TeamRoleData> Roles { get; set; }

    public TeamRoleData SelectedRole { get; set; }

    [CascadingParameter]
    private SessionProvider Session { get; set; }

    [Parameter]
    public TeamMemberData Member { get; set; }

    public bool CheckBox { get; set; }
    public bool CheckBoxOther = true;

    protected override async Task OnParametersSetAsync()
    {
        Roles = Session.Selected.Team.Data.CachedRoles.Values;
        if (Roles.Any())
            SelectedRole = Roles.First();
    }

    public class PermissionItem<T> where T : Enum
    {
        public PermissionItem(T flag, string name, string description)
        {
            Flag = flag;
            Name = name;
            Description = description;
        }

        public T Flag { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
    }

    public PermissionGrid<PermissionItem<TeamPermission>> TeamGrid = new PermissionGrid<PermissionItem<TeamPermission>>
    {
        Data = new PermissionItem<TeamPermission>[]
        {
            new PermissionItem<TeamPermission>(TeamPermission.ManageMembers, "Manage Members", "Add or remove members to the team except global admins."),
            new PermissionItem<TeamPermission>(TeamPermission.ManageRoles, "Manage Roles", "Give members roles except global admin."),
            new PermissionItem<TeamPermission>(TeamPermission.ManagePermissions, "Manage Permissions", "Change permissions for roles except global admin."),
            new PermissionItem<TeamPermission>(TeamPermission.ManageTeam, "Manage Team", "Change team settings."),
        }
    };

    public PermissionGrid<PermissionItem<ServerPermission>> ServerGrid = new PermissionGrid<PermissionItem<ServerPermission>>
    {
        Data = new PermissionItem<ServerPermission>[]
        {
            new PermissionItem<ServerPermission>(ServerPermission.ViewServer, "View Servers", "View all servers the team owns."),
            new PermissionItem<ServerPermission>(ServerPermission.ManageServer, "Manage Server", "Add/delete servers and manage settings."),
            new PermissionItem<ServerPermission>(ServerPermission.ManagePermissions, "Manage Permissions", "Change permissions for all servers the team owns."),
        }
    };

    public PermissionGrid<PermissionItem<WebsitePermission>> WebsiteGrid = new PermissionGrid<PermissionItem<WebsitePermission>>
        {
            Data = new PermissionItem<WebsitePermission>[]
            {
            new PermissionItem<WebsitePermission>(WebsitePermission.ViewWebsite, "View Websites", "View all websites the team owns."),
            new PermissionItem<WebsitePermission>(WebsitePermission.ManageWebsite, "Manage Website", "Add/delete websites and manage settings."),
            new PermissionItem<WebsitePermission>(WebsitePermission.ManagePermissions, "Manage Permissions", "Change permissions for all websites the team owns."),
            }
        };

    public PermissionGrid<PermissionItem<ProjectPermission>> ProjectGrid = new PermissionGrid<PermissionItem<ProjectPermission>>
        {
            Data = new PermissionItem<ProjectPermission>[]
        {
            new PermissionItem<ProjectPermission>(ProjectPermission.ViewProject, "View Projects", "View all projects the team owns."),
           new PermissionItem<ProjectPermission>(ProjectPermission.ManageProject, "Manage Projects", "Add/delete projects and manage settings."),
            new PermissionItem<ProjectPermission>(ProjectPermission.ManagePermissions, "Manage Permissions", "Change permissions for all projects the team owns."),
        }
        };

    public PermissionGrid<PermissionItem<LogPermission>> LogGrid = new PermissionGrid<PermissionItem<LogPermission>>
    {
        Data = new PermissionItem<LogPermission>[]
        {
            new PermissionItem<LogPermission>(LogPermission.ViewLog, "View Logs", "View all logs the team owns."),
            new PermissionItem<LogPermission>(LogPermission.ManageLog, "Manage Logs", "Add/delete logs and manage settings."),
            new PermissionItem<LogPermission>(LogPermission.ManagePermissions, "Manage Permissions", "Change permissions for all logs the team owns."),
        }
    };

    public PermissionGrid<PermissionItem<DockerPermission>> DockerGrid = new PermissionGrid<PermissionItem<DockerPermission>>
        {
            Data = new PermissionItem<DockerPermission>[]
            {
                new PermissionItem<DockerPermission>(DockerPermission.ViewStacksAndContainers, "View Stacks & Containers", "View all docker stacks and containers the team owns."),
                new PermissionItem<DockerPermission>(DockerPermission.ControlStacksAndContainers, "Control Stacks & Containers", "Start, stop, restart, pause and kill containers."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageStacksAndContainers, "Manage Stacks & Containers", "Create and modify Stacks and containers."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewImages, "View Images", "View current docker images."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageImages, "Manage Images", "Create and modify docker images."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewVolumes, "View Volumes", "View current docker volumes/storage."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageVolumes, "Manage Volumes", "Create and modify docker volumes."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewNetworks, "View Networks", "View current docker networks."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageNetworks, "Manage Networks", "Create and modify docker networks."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewTemplates, "View Templates", "View a list bunch of premade docker templates."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewCustomTemplates, "View Custom Templates", "View a list of custom docker templates made by other members."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageCustomTemplates, "Manage Custom Templates", "Create and modify custom docker templates."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewPlugins, "View Plugins", "View current docker templates installed."),
                new PermissionItem<DockerPermission>(DockerPermission.ManagePlugins, "Manage Plugins", "Install docker plugins on the server."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewEvents, "View Events", "View realtime docker events for all stacks, containers, images, networks, volumes and plugins."),
                new PermissionItem<DockerPermission>(DockerPermission.ViewRegistries, "View Registry", "View current docker registries."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageRegistries, "Manage Registry", "Create and modify docker registries."),
                new PermissionItem<DockerPermission>(DockerPermission.ManageSettings, "Manage Settings", "Modify server-wide docker settings and features."),
            }
        };

    public class PermissionGrid<T>
    {
        public RadzenDropDown<T> Grid;
        public T[] Data;
        public IEnumerable<T> Selected;
    }



    public async Task CreateRole()
    {
        if (!Member.HasTeamPermission(TeamPermission.ManageRoles))
            return;

        await DialogService.ShowDynamicFormAsync<TeamRoleModel>("Create Team Role", new TeamRoleModel(), (TeamRoleModel data) =>
        {
            if (!Member.HasTeamPermission(TeamPermission.ManageRoles))
                return "You do not have permission for Manage Roles.";

            foreach (var r in Session.Selected.Team.Data.CachedRoles.Values)
            {
                if (r.Name.Equals(data.Name, StringComparison.OrdinalIgnoreCase))
                    return "A role with this name already exists.";
            }

            TeamRoleData role = new TeamRoleData
                {
                    TeamId = Session.Selected.Team.Data.Id,
                    Name = data.Name,
                    Description = data.Description
                };

            var task = Task.Run<bool>(async () =>
            {
                try
                {
                    await _DB.Roles.CreateAsync(role);
                }
                catch
                {
                    return false;
                }
                _DB.Roles.Cache.TryAdd(role.Id, role);
                Session.Selected.Team.Data.Roles.Add(role.Id);
                Session.Selected.Team.Data.CachedRoles.Add(role.Id, role);
                try
                {
                    await Session.Selected.Team.Data.UpdateAsync(new UpdateDefinitionBuilder<TeamData>().Set(x => x.Roles, Session.Selected.Team.Data.Roles));
                }
                catch
                {
                    Session.Selected.Team.Data.Roles.Remove(role.Id);
                    Session.Selected.Team.Data.CachedRoles.Remove(role.Id);
                    FilterDefinition<TeamRoleData> roleFilter = Builders<TeamRoleData>.Filter.Eq(r => r.Id, role.Id);
                    _DB.Roles.Collection.DeleteOne(roleFilter);
                    _DB.Roles.Cache.Remove(role.Id, out _);
                    return false;
                }
                return true;
            });
            task.Wait();
            if (!task.Result)
                return "Failed to create team role due to a database error.";
            
            
            return string.Empty;
        });
    }
}
