@using DevSpaceWeb.Models.Teams
@using Microsoft.AspNetCore.Components.Forms

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">@Team.Name Basic Settings</RadzenText>
    </div>
    @if (!Member.HasTeamPermission(TeamPermission.ManageTeam))
    {
        <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
            You do not have permission for Manage Team.
        </RadzenAlert>
    }
    else
    {
        <br />
        <DynamicFormDialog Model="@TeamBasicModel" ModelData="@Data" OnSubmit="@UpdateTeamSettings"></DynamicFormDialog>


        <br />
        <br />
        <RadzenLabel Text="Team Icon" class="rz-my-0"></RadzenLabel>
        <RadzenUpload id="ddUpload" @ref="IconUploader" ChooseText="Click here or drop to upload files" Auto="false" Multiple="false" Url="@("/upload/icon?teamId=" + Team.Id)" Accept="image/png, image/webp, image/jpeg" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"
        Style="width: 100%" MaxFileCount="1" Complete="@UploadComplete" />
        <br />
        <br />
        <RadzenButton ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Text="Save Icon" Click="@ChangeIcon" ButtonType="ButtonType.Submit" />
        <RadzenButton ButtonStyle="ButtonStyle.Danger" Shade="Shade.Dark" Text="Remove Icon" Click="@RemoveIcon" />
    }
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamData Team => Session.Selected.Team.Data;

    public TeamMemberData Member => Session.Selected.Member;

    public TeamBasicModel Data;

    protected override async Task OnInitializedAsync()
    {
        Data = new TeamBasicModel
            {
                Name = Team.Name,
                VanityUrl = Team.VanityUrl
            };
    }

    public async Task<string?> UpdateTeamSettings(TeamBasicModel model)
    {
        if (!Member.HasTeamPermission(TeamPermission.ManageTeam))
        {
            Session.Notifications.ShowPermissionWarning(TeamPermission.ManageTeam);
            return "Error";
        }

        if (!string.IsNullOrEmpty(model.VanityUrl))
        {
            model.VanityUrl = model.VanityUrl.Replace(" ", "-").ToLower();
        }

        Dictionary<string, string> props = new Dictionary<string, string>();
        if (Team.Name != model.Name)
            props.Add(nameof(TeamData.Name), model.Name);

        if (Team.VanityUrl != model.VanityUrl)
            props.Add(nameof(TeamData.VanityUrl), model.VanityUrl);

        if (!props.Any())
            return null;

        await Team.UpdateAsync(new UpdateDefinitionBuilder<TeamData>().Set(x => x.Name, model.Name).Set(x => x.VanityUrl, model.VanityUrl));

        _DB.AuditLogs.CreateAsync(new AuditLog(Session.CurrentUserId.Value, Team.Id, AuditLogCategoryType.Setting, AuditLogEventType.SettingsChanged).SetTarget(AuditLogTargetType.Team, Team.Id).SetProperties(props));

        Team.Name = model.Name;
        if (Team.VanityUrl != model.VanityUrl)
        {
            if (string.IsNullOrEmpty(model.VanityUrl))
            {
                if (!string.IsNullOrEmpty(Team.VanityUrl))
                {
                    _DB.TeamsVanityCache.TryRemove(Team.VanityUrl, out _);
                    Team.VanityUrl = string.Empty;
                }
            }
            else
            {
                if (model.VanityUrl != Team.VanityUrl)
                {
                    _DB.TeamsVanityCache.TryRemove(Team.VanityUrl, out _);
                    _DB.TeamsVanityCache.TryAdd(model.VanityUrl, Team);
                    Team.VanityUrl = model.VanityUrl;
                }
            }
            Session.Selected.Team.VanityUrl = Team.GetVanityUrl();
        }
        Session.TriggerNavMenuChange();

        return null;
    }

    public RadzenUpload IconUploader { get; set; }

    public async Task ChangeIcon()
    {
        if (!Member.HasTeamPermission(TeamPermission.ManageTeam))
        {
            Session.Notifications.ShowPermissionWarning(TeamPermission.ManageTeam);
            return;
        }

        await IconUploader.Upload();

    }

    async Task UploadComplete(UploadCompleteEventArgs args)
    {
        Session.TriggerNavMenuChange();
    }

    public async Task RemoveIcon()
    {
        if (!Team.HasIcon)
            return;

        if (!Member.HasTeamPermission(TeamPermission.ManageTeam))
        {
            Session.Notifications.ShowPermissionWarning(TeamPermission.ManageTeam);
            return;
        }

        await Team.UpdateAsync(new UpdateDefinitionBuilder<TeamData>().Set(x => x.IconId, null));
        _DB.AuditLogs.CreateAsync(new AuditLog(Session.CurrentUserId.Value, Team.Id, AuditLogCategoryType.Setting, AuditLogEventType.IconRemoved).SetTarget(AuditLogTargetType.Team, Team.Id));
        File.Delete(Team.Icon.Path("webp"));
        File.Delete(Team.Icon.Path("png"));
        Team.IconId = null;
        Session.TriggerNavMenuChange();
    }
}