@page "/teams/{team_id?}/{service?}/{service_id?}/{resource_type?}/{resource_data?}"
@using DevSpaceWeb.Components.Pages.Server.DockerTools

@if (Team == null || Member == null)
{
    <PageTitle>Unknown Team | @_Data.Config.Instance.Name</PageTitle>
    <p>This team does not exist.</p>
}
else if (Member.Disabled != null)
{
    <PageTitle>Account Restricted | @_Data.Config.Instance.Name</PageTitle>
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Dark" AllowClose="false" ShowIcon="false">
        Your account has been restricted from accessing this team.
    </RadzenAlert>
}
else
{
    <PageTitle>@Team.Name | @_Data.Config.Instance.Name</PageTitle>
    switch (service)
    {
        case "home":
        case null:
        case "":
            {
                <TeamHome></TeamHome>
            }
            break;
        case "settings":
            {
                switch (service_id)
                {
                    case null:
                    case "":
                        <TeamSettings></TeamSettings>
                        break;
                    case "basic":
                        <TeamBasicSettings></TeamBasicSettings>
                        break;
                    case "members":
                        <TeamMembersSettings></TeamMembersSettings>
                        break;
                    case "roles":
                        <TeamRolesSettings></TeamRolesSettings>
                        break;
                    case "permissions":
                        <TeamPermissionsSettings></TeamPermissionsSettings>
                        break;
                    case "audit":
                        <TeamAuditLogs></TeamAuditLogs>
                        break;
                    case "api":
                    <TeamAPISettings></TeamAPISettings>
                        break;
                }
                
            }
            break;
        case "servers":
            {
                @if (string.IsNullOrEmpty(service_id))
                {
                    <ServerList></ServerList>
                }
                else if (Server == null || !Member.HasServerPermission(Server, ServerPermission.ViewServer))
                {
                    <p>This server does not exist.</p>
                }
                else
                {
                    @if (Server.GetWebSocket() == null)
                    {
                        <ServerConnectionError></ServerConnectionError>
                    }
                    else
                    {
                        switch (resource_type)
                        {
                            case null:
                            case "":
                            case "home":
                                <ServerHome></ServerHome>
                                break;
                            case "settings":
                                <ServerSettings></ServerSettings>
                                break;
                            case "databases":
                                <ServerDatabase></ServerDatabase>
                                break;
                            case "stacks":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewContainers))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Containers.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerStacks></ServerDockerStacks>
                                }
                                else
                                {
                                    <ServerDockerStackInfo StackId="@resource_data"></ServerDockerStackInfo>
                                }
                                break;
                            case "containers":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewContainers))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Containers.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerContainers></ServerDockerContainers>
                                }
                                else
                                {
                                    <ServerDockerContainerInfo ContainerId="@resource_data"></ServerDockerContainerInfo>
                                }
                                break;
                            case "plugins":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewPlugins))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Plugins.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerPlugins></ServerDockerPlugins>
                                }
                                else
                                {
                                    <ServerDockerPluginInfo PluginInfo="@resource_data"></ServerDockerPluginInfo>
                                }
                                break;
                            case "images":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewImages))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Images.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerImages></ServerDockerImages>
                                }
                                else
                                {
                                    <ServerDockerImageInfo ImageId="@resource_data"></ServerDockerImageInfo>
                                }
                                break;
                            case "networks":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewNetworks))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Networks.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerNetworks></ServerDockerNetworks>
                                }
                                else
                                {
                                    <ServerDockerNetworkInfo NetworkId="@resource_data"></ServerDockerNetworkInfo>
                                }
                                break;
                            case "volumes":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewVolumes))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Volumes.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerVolumes></ServerDockerVolumes>
                                }
                                else
                                {
                                    <ServerDockerVolumeInfo VolumeId="@resource_data"></ServerDockerVolumeInfo>
                                }
                                break;
                            case "execute":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else
                                {
                                    <ServerDockerExecute></ServerDockerExecute>
                                }

                                break;
                            case "registry":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewRegistries))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Registries.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerRegistry></ServerDockerRegistry>
                                }
                                else
                                {
                                    <ServerDockerRegistryInfo RegistryId="@resource_data"></ServerDockerRegistryInfo>
                                }
                                break;
                            case "firewall":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else if (Server.GetWebSocket().Client.IsRunningDockerContainer)
                                {
                                    <ServerLimitedControlError></ServerLimitedControlError>
                                }
                                else
                                {
                                    <ServerFirewall></ServerFirewall>
                                }

                                break;
                            case "files":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else if (Server.GetWebSocket().Client.IsRunningDockerContainer)
                                {
                                    <ServerLimitedControlError></ServerLimitedControlError>
                                }
                                else
                                {
                                    <ServerFiles></ServerFiles>
                                }

                                break;
                            case "ssh":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else if (Server.GetWebSocket().Client.IsRunningDockerContainer)
                                {
                                    <ServerLimitedControlError></ServerLimitedControlError>
                                }
                                else
                                {
                                    <ServerSSH></ServerSSH>
                                }

                                break;
                            case "status":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else
                                {
                                    <ServerStatus></ServerStatus>
                                }

                                break;
                            case "webhooks":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else
                                {
                                    <ServerWebhooks></ServerWebhooks>
                                }

                                break;
                            case "info":
                                @if (!Member.HasServerPermission(Server, ServerPermission.ServerAdministrator))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for Server Administrator.
                                    </RadzenAlert>
                                }
                                else
                                {
                                    <ServerSystemInfo></ServerSystemInfo>
                                }

                                break;
                            case "templates":
                                @if (!Member.HasDockerPermission(Server, DockerPermission.ViewTemplates))
                                {
                                    <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                        You do not have permission for View Templates.
                                    </RadzenAlert>
                                }
                                else if (string.IsNullOrEmpty(resource_data))
                                {
                                    <ServerDockerAppTemplates></ServerDockerAppTemplates>
                                }
                                else if (resource_data.Equals("custom"))
                                {
                                    if (!Member.HasDockerPermission(Server, DockerPermission.ViewCustomTemplates))
                                    {
                                        <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                                            You do not have permission for View Custom Templates.
                                        </RadzenAlert>
                                    }
                                    else
                                    {
                                        <ServerDockerCustomTemplates></ServerDockerCustomTemplates>
                                    }
                                }
                                break;
                        }
                    }
                }

            }
            break;
        case "projects":
            {
                @if (string.IsNullOrEmpty(service_id))
                {
                    <ProjectsList></ProjectsList>
                }
                else if (Project == null || !Member.HasProjectPermission(Project, ProjectPermission.ViewProject))
                {
                    <p>This project does not exist.</p>
                }
                else
                {
                    switch (resource_type)
                    {
                        case null:
                        case "":
                        case "home":
                            <ProjectsHome></ProjectsHome>
                            break;
                    }
                }

            }
            break;
        case "logs":
            {
                @if (string.IsNullOrEmpty(service_id))
                {
                    <LogsList></LogsList>
                }
                else if (Log == null || !Member.HasLogPermission(Log, LogPermission.ViewLog))
                {
                    <p>This log does not exist.</p>
                }
                else
                {
                    switch (resource_type)
                    {
                        case null:
                        case "":
                        case "home":

                            <LogsHome></LogsHome>
                            break;
                    }
                }

            }
            break;
        case "websites":
            {
                @if (string.IsNullOrEmpty(service_id))
                {
                    <WebsitesList></WebsitesList>
                }
                else if (Website == null || !Member.HasWebsitePermission(Website, WebsitePermission.ViewWebsite))
                {
                    <p>This website does not exist.</p>
                }
                else
                {
                    switch (resource_type)
                    {
                        case null:
                        case "":
                        case "home":
                            <WebsiteHome></WebsiteHome>
                            break;
                    }

                }

            }
            break;
    }
}

@code {
    [Parameter]
    public string team_id { get; set; } = "";

    [Parameter]
    public string service { get; set; } = "";

    [Parameter]
    public string service_id { get; set; } = "";

    [Parameter]
    public string resource_type { get; set; } = "";

    [Parameter]
    public string resource_data { get; set; } = "";

    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public TeamData Team => Session.Selected.Team?.Data;
    public TeamMemberData Member => Session.Selected.Member;
    public ServerData Server => Session.Selected.Server;
    public ProjectData Project => Session.Selected.Project;
    public LogData Log => Session.Selected.Log;
    public WebsiteData Website => Session.Selected.Website;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(team_id))
        {

            bool UpdateNav = false;

            TeamData? GotTeam = null;
            if (!ObjectId.TryParse(team_id, out ObjectId TeamId) || !_DB.Teams.Cache.TryGetValue(TeamId, out GotTeam))
            {
                if (_DB.TeamsVanityCache.TryGetValue(team_id, out TeamData tmid))
                    GotTeam = tmid;
            }

            if (GotTeam != null && (Session.Selected.Team == null || Session.Selected.Team.Data.Id != GotTeam.Id))
            {
                Session.Selected.Team = new SelectedTeamData(GotTeam)
                {
                    Member = GotTeam.GetMember(Session)
                };

                UpdateNav = true;
            }

            if (Session.Selected.Team != null)
            {
                switch (service)
                {
                    case "servers":
                        {
                            if (!string.IsNullOrEmpty(service_id))
                            {
                                ServerData? GotServer = null;
                                if (!ObjectId.TryParse(service_id, out ObjectId ServiceId) || !_DB.Servers.Cache.TryGetValue(ServiceId, out GotServer))
                                {
                                    if (_DB.TeamVanityUrls.Cache.TryGetValue(Session.Selected.Team.Data.Id, out VanityUrlData vanity) && vanity.ServerVanityUrls.TryGetValue(service_id, out ObjectId serverId))
                                    {
                                        _DB.Servers.Cache.TryGetValue(serverId, out GotServer);
                                    }
                                }

                                if (GotServer != null && (Session.Selected.Server == null || Session.Selected.Server.Id != GotServer.Id))
                                {
                                    Session.Selected.Team.Server = new SelectedServerData(Session.Selected.Team, GotServer);
                                    UpdateNav = true;
                                }
                            }
                        }
                        break;
                    case "projects":
                        {
                            if (!string.IsNullOrEmpty(service_id))
                            {
                                ProjectData? GotProject = null;
                                if (!ObjectId.TryParse(service_id, out ObjectId ProjectId) || !_DB.Projects.Cache.TryGetValue(ProjectId, out GotProject))
                                {
                                    if (_DB.TeamVanityUrls.Cache.TryGetValue(Session.Selected.Team.Data.Id, out VanityUrlData vanity) && vanity.ProjectVanityUrls.TryGetValue(service_id, out ObjectId projectId))
                                    {
                                        _DB.Projects.Cache.TryGetValue(projectId, out GotProject);
                                    }
                                }


                                if (GotProject != null && (Session.Selected.Project == null || Session.Selected.Project.Id != GotProject.Id))
                                {
                                    Session.Selected.Team.Project = new SelectedProjectData(Session.Selected.Team, GotProject);
                                    UpdateNav = true;
                                }
                            }
                        }
                        break;
                    case "logs":
                        {
                            if (!string.IsNullOrEmpty(service_id))
                            {
                                LogData? GotLog = null;
                                if (!ObjectId.TryParse(service_id, out ObjectId LogId) || !_DB.Logs.Cache.TryGetValue(LogId, out GotLog))
                                {
                                    if (_DB.TeamVanityUrls.Cache.TryGetValue(Session.Selected.Team.Data.Id, out VanityUrlData vanity) && vanity.LogsVanityUrls.TryGetValue(service_id, out ObjectId logId))
                                    {
                                        _DB.Logs.Cache.TryGetValue(logId, out GotLog);
                                    }
                                }

                                if (GotLog != null && (Session.Selected.Log == null || Session.Selected.Log.Id != GotLog.Id))
                                {
                                    Session.Selected.Team.Log = new SelectedLogData(Session.Selected.Team, GotLog);
                                    UpdateNav = true;
                                }
                            }
                        }
                        break;
                    case "websites":
                        {
                            if (!string.IsNullOrEmpty(service_id))
                            {
                                WebsiteData? GotWebsite = null;
                                if (!ObjectId.TryParse(service_id, out ObjectId WebsiteId) || !_DB.Websites.Cache.TryGetValue(WebsiteId, out GotWebsite))
                                {
                                    if (_DB.TeamVanityUrls.Cache.TryGetValue(Session.Selected.Team.Data.Id, out VanityUrlData vanity) && vanity.WebsiteVanityUrls.TryGetValue(service_id, out ObjectId websiteId))
                                    {
                                        _DB.Websites.Cache.TryGetValue(websiteId, out GotWebsite);
                                    }
                                }

                                if (GotWebsite != null && (Session.Selected.Website == null || Session.Selected.Website.Id != GotWebsite.Id))
                                {
                                    Session.Selected.Team.Website = new SelectedWebsiteData(Session.Selected.Team, GotWebsite);
                                    UpdateNav = true;
                                }
                            }
                        }
                        break;
                }


            }

            if (UpdateNav)
            {
                Session.TriggerNavMenuChange();
            }
        }

    }
}