@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudSnackbarProvider></MudSnackbarProvider>
<MudDialogProvider />

<MudLayout>
    <MudAppBar Fixed="true" Dense="true" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <h3 class="top-title">Dev Space</h3>
        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" />
        @if (Session.State.User.Identity.IsAuthenticated)
        {
            <MudMenu Label="Info" Variant="Variant.Text" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomLeft" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Default" Dense>
                <MudMenuItem Href="/info/http">Http Codes</MudMenuItem>
            </MudMenu>
            <MudMenu Label="Tools" Variant="Variant.Text" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomLeft" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Default" Dense>
                <MudMenuItem Class="mud-menu-sub">
                    <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Variant="Variant.Text" Color="Color.Primary" EndIcon="@Icons.Material.Filled.ArrowRight" Dense>
                        <ActivatorContent>
                            <MudMenuItem>Images</MudMenuItem>
                        </ActivatorContent>

                        <ChildContent>
                            <MudMenuItem Href="/tools/image/convert">Convert Image Format</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudMenuItem>
                <MudMenuItem Href="/tools/editor">Text Editor</MudMenuItem>
            </MudMenu>
            <MudSpacer></MudSpacer>

            <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                <ActivatorContent>
                    <MudButton Variant="Variant.Text" Color="Color.Info">@Session.State.User.Identity.Name</MudButton>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/user/settings">Settings</MudMenuItem>
                    <MudMenuItem Href="/admin">Admin</MudMenuItem>
                    <MudMenuItem Href="/logout">Logout</MudMenuItem>
                </ChildContent>
            </MudMenu>
        }
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Responsive">
        @if (Session.State.User.Identity.IsAuthenticated)
        {
            <NavMenu />
        }
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<style>

</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
