<MudNavMenu Dense="true" Margin="Margin.Dense">
    <MudNavLink Href="/teams" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:account-supervisor-circle"></span> My Teams</MudNavLink>

    @if (Session.Selected.Team != null)
    {
        <div class="nav-list nav-list-team">
            <div class="selected-team">
                <img src="https://fluxpoint.dev/img/icons/fluxpoint.png" />
                <h4>@Session.Selected.Team.Data.Name</h4>
            </div>
            <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers")" Class="nav-link-server" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:server"></span> My Servers</MudNavLink>
            <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites")" Class="nav-link-web" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:web"></span> My Websites</MudNavLink>
            <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/projects")" Class="nav-link-projects" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:lightbulb"></span> My Projects</MudNavLink>
            <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/errors")" Class="nav-link-errors" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:warning"></span> Error Logs (Sentry)</MudNavLink>

        </div>
        @if (Session.Selected.Server != null)
        {
            <div class="nav-list nav-list-sub nav-server">
                <div class="nav-list-header">
                    <span class="iconify" data-icon="mdi:server"></span>
                    <h4>@Session.Selected.Server.Data.Name</h4>
                </div>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl)" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:house"></span> Home</MudNavLink>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/info")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:information-slab-symbol"></span> Info</MudNavLink>
                <MudNavGroup Title="Docker" @bind-Expanded="@DockerExpanded" HideExpandIcon="true" Icon="@(DockerExpanded ? Icons.Material.Filled.ArrowDropDown : @Icons.Material.Filled.ArrowRight)">
                    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/stacks")" Match="NavLinkMatch.All"><span class="iconify" data-icon="ri:stack-fill"></span> Stacks</MudNavLink>
                    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/containers")" Match="NavLinkMatch.All"><span class="iconify" data-icon="ri:box-3-fill"></span> Containers</MudNavLink>
                    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/registry")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:table"></span> Registry</MudNavLink>
                </MudNavGroup>

                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/ssh")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:console-line"></span> SSH</MudNavLink>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/status")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:cloud-check-variant"></span> Status</MudNavLink>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/firewall")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:wall"></span> Firewall</MudNavLink>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/files")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:folder"></span> Files</MudNavLink>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/database")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:database"></span> Database</MudNavLink>

                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/webhooks")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:webhook"></span> Webhooks</MudNavLink>
            </div>
        }

        @if (Session.Selected.Website != null)
        {
            <div class="nav-list nav-list-sub nav-web">
                <div class="nav-list-header">
                    <span class="iconify" data-icon="mdi:web"></span>
                    <h4>Fluxpoint Website</h4>
                </div>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/w/" + Session.Selected.Website.VanityUrl + "/home")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:home"></span> Home</MudNavLink>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/w/" + Session.Selected.Website.VanityUrl + "/cloudflare")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:cloud"></span> Cloudflare</MudNavLink>
            </div>
        }

        @if (Session.Selected.Project != null)
        {
            <div class="nav-list nav-list-sub nav-project">
                <div class="nav-list-header">
                    <span class="iconify" data-icon="mdi:lightbulb"></span>
                    <h4>Waifu Bot</h4>
                </div>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/p/" + Session.Selected.Project.VanityUrl + "/home")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:home"></span> Home</MudNavLink>
            </div>
        }
        @if (Session.Selected.Log != null)
        {
            <div class="nav-list nav-list-sub nav-errors">
                <div class="nav-list-header">
                    <span class="iconify" data-icon="mdi:warning"></span>
                    <h4>Waifu Bot</h4>
                </div>
                <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/l/" + Session.Selected.Log.VanityUrl + "/home")" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:home"></span> Home</MudNavLink>
            </div>
        }
    }

</MudNavMenu>


<style>


</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public bool DockerExpanded { get; set; }
}
