@using DevSpaceWeb.Components.Dialogs.Servers
@using DevSpaceWeb.Data.Consoles
@inject DialogService Dialogs
@inject NavigationManager Nav

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Settings</RadzenText>
    </div>
    <br />
    <RadzenStack Gap="10px" JustifyContent="JustifyContent.Left" Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/host")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasServerPermission(Team, Server, ServerPermission.ViewHostInfo) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:information"></span>
                <RadzenText TextStyle="TextStyle.H6">Host Info</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/settings")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasServerPermission(Team, Server, ServerPermission.ManageServer) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:gear"></span>
                <RadzenText TextStyle="TextStyle.H6">Settings</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/permissions")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasServerPermission(Team, Server, ServerPermission.ViewPermissions) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:shield-key"></span>
                <RadzenText TextStyle="TextStyle.H6">Permissions</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/servers/" + Session.Selected.Team?.Server?.VanityUrl + "/connection")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasServerPermission(Team, Server, ServerPermission.ManageConnection) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:lightning-bolt"></span>
                <RadzenText TextStyle="TextStyle.H6">Connection</RadzenText>
            </RadzenCard>
        </a>
        @* <RadzenCard @onclick="@OpenUpdater" class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasServerPermission(Team, Server, ServerPermission.ServerAdministrator) ? "" : " settings-item-disabled"))">
            <span class="iconify" data-icon="mdi:cloud-upload"></span>
            <RadzenText TextStyle="TextStyle.H6">Update Agent</RadzenText>
        </RadzenCard> *@
    </RadzenStack>
</div>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:gear"></span></div>
        <RadzenText TextStyle="TextStyle.H6">Manage</RadzenText>
    </div>
    <br />
    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">ID</RadzenText>
    <RadzenText TextStyle="TextStyle.Body2">
        @Server?.Id
        <CopyClipboard Value="@Server?.Id.ToString()"></CopyClipboard>
    </RadzenText>

    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">Owner</RadzenText>
    <RadzenUserSelector Team="@Team" UserId="@Server?.OwnerId" ActionDisabled="@(Member == null || Program.IsPreviewMode || !Member.CanOwn(Server))" OnSelected="@ChangeOwner"></RadzenUserSelector>
    <br />
    <RadzenButton Click="@Delete" Shade="Shade.Dark" ButtonStyle="ButtonStyle.Danger" Text="Delete Server" Disabled="@(Member == null || !Member.HasServerPermission(Team, Server, ServerPermission.DeleteServerResource))" />
</div>

<style>
    .settings-item {
        width: 120px;
        height: 120px;
        cursor: pointer;
    }

        .settings-item .iconify {
            width: 30px;
            height: 30px;
            margin-top: 16px;
            color: var(--rz-info);
        }

        .settings-item .rz-text-h6 {
            margin-top: 14px;
            font-size: 1.1rem;
            color: var(--rz-base-200) !important;
        }

    .rz-stack a {
        text-decoration: none !important;
    }

    .settings-item:hover {
        background-color: var(--rz-base-dark);
        outline: solid 1px var(--rz-secondary-dark) !important;
    }

    .settings-item-disabled {
        opacity: 0.6;
        cursor: not-allowed !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
    public ServerData? Server => Session.Selected.Server;

    public string? OwnerUser { get; set; }



    protected override async Task OnParametersSetAsync()
    {
        if (Server != null)
        {
            if (_DB.Users.TryGetValue(Server.OwnerId, out PartialUserData? user))
                OwnerUser = user.UserName;
            else
                OwnerUser = "Unknown?";

        }
    }

    public async Task Delete()
    {
        if (Server == null || Member == null || !Member.HasServerPermission(Team, Server, ServerPermission.DeleteServerResource))
            return;

        bool Confirm = await Dialogs.ShowConfirmAsync("Delete Server", "Are you sure your want to delete this?.", "Confirm", ButtonStyle.Success);

        if (!Confirm)
            return;

        if (!Member.HasServerPermission(Team, Server, ServerPermission.DeleteServerResource))
            return;

        await Server.DeleteAsync(Member, () =>
        {
            Nav.NavigateTo("/teams/" + Session.Selected.Team?.VanityUrl + "/servers");
        });

    }

    public async Task OpenUpdater()
    {
        if (Server == null || Member == null || !Member.HasServerPermission(Team, Server, ServerPermission.ServerAdministrator))
            return;

        await Dialogs.OpenAsync<ServerUpdateDialog>("Agent Updater", options: new DialogOptions
        {
            CloseDialogOnEsc = false,
            CloseDialogOnOverlayClick = false,
            ShowClose = false
        });
    }


    public async Task ChangeOwner(PartialUserData user)
    {
        if (Server == null || Member == null || !Member.CanOwn(Server))
            return;

        bool Confirm = await Dialogs.ShowConfirmAsync("Change Ownership", "Change API client owner, this will also reset the token.", "Confirm", ButtonStyle.Success);

        if (!Confirm)
            return;

        if (!Member.CanOwn(Server))
            return;

        await Server.UpdateAsync(new UpdateDefinitionBuilder<ServerData>()
        .Set(x => x.OwnerId, user.Id), () =>
        {
            Server.OwnerId = user.Id;
            OwnerUser = user.UserName;

            _ = _DB.AuditLogs.CreateAsync(new AuditLog(Member, AuditLogCategoryType.Member, AuditLogEventType.ServerOwnershipChanged)
            .SetTarget(Server)
            .AddProperty("User", user.UserName)
            .AddProperty("ID", user.Id.ToString()));

            StateHasChanged();
        });
    }
}
