@using DevSpaceShared.Responses
@using DevSpaceShared.WebSocket

<div class="dash-box">
    <RadzenDataGrid @ref="@grid" AllowRowSelectOnRowClick="false" AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="30"
                    AllowSorting="true" Data="@employees" Count="@count" LoadData="@LoadData"
                    IsLoading="@isLoading" GridLines="DataGridGridLines.Horizontal"
                    FilterMode="FilterMode.Advanced"
                    SelectionMode="DataGridSelectionMode.Multiple" @bind-Value="@selectedEmployees">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(FirewallRuleResponse.Action)" Title="Type" MinWidth="120px" />
            <RadzenDataGridColumn Property="@nameof(FirewallRuleResponse.To)" Title="To" MinWidth="120px" />
            <RadzenDataGridColumn Property="@nameof(FirewallRuleResponse.From)" Title="From" MinWidth="120px" />
            <RadzenDataGridColumn Property="@nameof(FirewallRuleResponse.Comment)" Title="Comment" />
        </Columns>
    </RadzenDataGrid>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public ServerData Server => Session.Selected.Server;

    FirewallResponse? FirewallInfo = null;

    IEnumerable<FirewallRuleResponse> employees;
    public int count = 0;
    IList<FirewallRuleResponse> selectedEmployees;
    RadzenDataGrid<FirewallRuleResponse> grid;
    public bool isLoading = false;

    public async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        await Task.Yield();
        Logger.LogMessage("Loading Data", LogSeverity.Info);
        if (Program.IsPreviewMode)
        {
            isLoading = false;
            employees = new List<FirewallRuleResponse>
            {
                new FirewallRuleResponse { Action = "ALLOW IN", From = "1.2.3.4", To = "22", Comment = ":)" }
            };
            return;
        }
        if (FirewallInfo == null)
        {
            try
            {
                FirewallInfo = await Server.GetWebSocket().Client.RecieveJsonAsync<FirewallResponse>(new IWebSocketTaskEvent(EventType.FirewallInfo));


            }
            catch (Exception ex)
            {
                Logger.LogMessage(ex.ToString(), LogSeverity.Warn);
            }
        }

        if (FirewallInfo != null)
        {
            count = FirewallInfo.Rules.Count();
            Logger.LogMessage("Got: " + count, LogSeverity.Debug);
            employees = FirewallInfo.Rules;
        }

        isLoading = false;
    }
}
