@using System.Text

@if (string.IsNullOrEmpty(Value))
{
    <RadzenText TextStyle="TextStyle.Body2">

    </RadzenText>
}
else if (IsVisible)
{
    <RadzenText TextStyle="TextStyle.Body2">
        @Value <span class="rz-link ml-1" @onclick="@(() => IsVisible = false)">Hide</span>
        @if (ShowCopy)
        {
            <CopyClipboard Value="@Value"></CopyClipboard>
        }
    </RadzenText>
}
else
{
    <RadzenText TextStyle="TextStyle.Body2">
        @GetMask() <span class="rz-link ml-1" @onclick="@(() => IsVisible = true)">Show</span>
        @if (ShowCopy)
        {
            <CopyClipboard Value="@Value"></CopyClipboard>
        }
    </RadzenText>
}