@using DevSpaceWeb.Models.Accounts
@using DevSpaceWeb.Models.Defaults
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@inject UserManager<AuthUser> UserManager
@inject Radzen.DialogService dialogService

<PageTitle>Change Member Roles | @_Data.Config.Instance.Name</PageTitle>

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" Style="height: 100%;">
    <RadzenStack JustifyContent="JustifyContent.Start">
        <RoleSelector @bind-Source="@AllRoles" @bind-Target="@SelectedRoles" Style="height:500px; width:100%;"
        ItemRender="((arg) => ItemRenderAction(arg))"
        TextProperty="@nameof(TeamRoleData.Name)" AllowFiltering="true" Multiple="true" ShowHeader="true"
        ButtonGap="12px" ButtonJustifyContent="JustifyContent.Center" ButtonSize="ButtonSize.Medium" ButtonShade="Shade.Dark"
                      ButtonVariant="Variant.Filled">
            <SourceHeader>
                All Roles
            </SourceHeader>
            <TargetHeader>
                Current Roles
            </TargetHeader>
            <Template>
                <span style="@($"background-color: {RoleBadge.GetColor((context as TeamRoleData))};")"></span>
                @if (Session.CurrentUser == null || Team.OwnerId != Session.CurrentUser.Id && context.GetPosition() >= CurrentRank)
                {
                    <span class="iconify" data-icon="mdi:lock"></span> @context.Name
                }
                else
                {
                    @context.Name
                }
            </Template>
        </RoleSelector>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Cancel" Style="width: 90px" />
        <RadzenButton Click="@Submit" Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Text="Submit" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>

<style>
    .rz-multiselect-item-content span {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-bottom: -3px;
        margin-right: 6px;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    [Parameter]
    public TeamData Team { get; set; }

    public int CurrentRank;

    [Parameter]
    public TeamMemberData Member { get; set; }

    public IEnumerable<TeamRoleData> AllRoles { get; set; }

    public IEnumerable<TeamRoleData> SelectedRoles { get; set; }

    public async Task SourceChanged(IEnumerable<TeamRoleData> roles)
    {

    }

    protected override void OnParametersSet()
    {
        if (Session.Selected.Member == null)
            CurrentRank = 0;
        else
            CurrentRank = Session.Selected.Member.GetRank();

        List<TeamRoleData> list = new List<TeamRoleData>();
        foreach(ObjectId i in Member.Roles)
        {
            if (Team.CachedRoles.TryGetValue(i, out TeamRoleData? role))
                list.Add(role);
        }
        SelectedRoles = list.OrderByDescending(x => x.GetPosition());
        AllRoles = Team.CachedRoles.Values.Except(SelectedRoles).OrderByDescending(x => x.GetPosition());
    }

    public ListBoxItemRenderEventArgs<object> ItemRenderAction(ListBoxItemRenderEventArgs<object> data)
    {
        TeamRoleData? role = data.Item as TeamRoleData;
        if (role == null || Session.CurrentUser == null || Team.OwnerId != Session.CurrentUser.Id && role.GetPosition() >= CurrentRank)
            data.Disabled = true;
        return data;
    }

    async Task Submit()
    {
        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        if (Session.Selected.Member == null || !Session.Selected.Member.HasTeamPermission(Team, TeamPermission.AssignRoles))
        {
            Session.Notifications.ShowPermissionWarning(TeamPermission.AssignRoles);
            return;
        }

        if (Session.Selected.Member.UserId != Member.UserId)
        {
            TeamMemberData SelectedMember = Member;
            int CurrentRank = Session.Selected.Member.GetRank();
            int SelectedRank = SelectedMember.GetRank();
            if (CurrentRank <= SelectedRank)
            {
                await dialogService.ShowInfoAsync("Access Failed", $"You do not have access to modify this member with your current roles (You {CurrentRank} | Selected {SelectedRank})");
                return;
            }
        }

        if (SelectedRoles == null)
            Member.UpdateRoles(Session.Selected.Member, new HashSet<ObjectId>());
        else
            Member.UpdateRoles(Session.Selected.Member, SelectedRoles.Select(x => x.Id).ToHashSet());
        
        dialogService.Close(true);
        
    }
}
