@using DevSpaceWeb.Models.Accounts
@using DevSpaceWeb.Models.Defaults
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@inject UserManager<AuthUser> UserManager
@inject Radzen.DialogService dialogService

<PageTitle>Member Permissions | @_Data.Config.Instance.Name</PageTitle>

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" Style="height: 100%;">
    <RadzenStack JustifyContent="JustifyContent.Start">
        @if (!Session.Selected.Member.IsGlobalAdministrator())
        {
            <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Darker" AllowClose="false" Size="AlertSize.Small">
                Some resources may not be listed with your current access.
            </RadzenAlert>
        }

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left" Wrap="FlexWrap.Wrap" Gap="0.2rem">
            <RadzenStack Gap="6px" class="permission-grid-box">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-1"><span class="iconify" data-icon="mdi:server"></span> Servers</RadzenText>

                @foreach(var i in _DB.Servers.Cache.Values.Where(x => Session.Selected.Member.HasServerPermission(x, ServerPermission.ViewServer) && Member.HasServerPermission(x, ServerPermission.ViewServer)))
                {
                    <a>
                        <div class="server-item">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@i.Name</RadzenText>
                        </div>
                    </a>
                }
            </RadzenStack>

            <RadzenStack Gap="6px" class="permission-grid-box">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-1"><span class="iconify" data-icon="mdi:docker"></span> Docker</RadzenText>

                @foreach (var i in _DB.Servers.Cache.Values.Where(x => Session.Selected.Member.HasDockerPermission(x, DockerPermission.ViewContainers) && Member.HasDockerPermission(x, DockerPermission.ViewContainers)))
                {
                    <a>
                        <div class="server-item">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@i.Name</RadzenText>
                        </div>
                    </a>
                }
            </RadzenStack>

            <RadzenStack Gap="6px" class="permission-grid-box">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-1"><span class="iconify" data-icon="mdi:web"></span> Websites</RadzenText>

                @foreach (var i in _DB.Websites.Cache.Values.Where(x => Session.Selected.Member.HasWebsitePermission(x, WebsitePermission.ViewWebsite) && Member.HasWebsitePermission(x, WebsitePermission.ViewWebsite)))
                {
                    <a>
                        <div class="server-item">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@i.Name</RadzenText>
                        </div>
                    </a>
                }
            </RadzenStack>

            <RadzenStack Gap="6px" class="permission-grid-box">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-1"><span class="iconify" data-icon="mdi:lightbulb"></span> Projects</RadzenText>

                @foreach (var i in _DB.Projects.Cache.Values.Where(x => Session.Selected.Member.HasProjectPermission(x, ProjectPermission.ViewProject) && Member.HasProjectPermission(x, ProjectPermission.ViewProject)))
                {
                    <a>
                        <div class="server-item">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@i.Name</RadzenText>
                        </div>
                    </a>
                }
            </RadzenStack>

            <RadzenStack Gap="6px" class="permission-grid-box">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-1"><span class="iconify" data-icon="mdi:warning"></span> Logs</RadzenText>

                @foreach (var i in _DB.Logs.Cache.Values.Where(x => Session.Selected.Member.HasLogPermission(x, LogPermission.ViewLog) && Member.HasLogPermission(x, LogPermission.ViewLog)))
                {
                    <a>
                        <div class="server-item">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@i.Name</RadzenText>
                        </div>
                    </a>
                }
            </RadzenStack>

            <RadzenStack Gap="6px" class="permission-grid-box">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-mb-05"><span class="iconify" data-icon="mdi:console"></span> Consoles</RadzenText>

                @foreach (var i in _DB.Consoles.Cache.Values.Where(x => Session.Selected.Member.HasConsolePermission(x, ConsolePermission.ViewConsole) && Member.HasConsolePermission(x, ConsolePermission.ViewConsole)))
                {
                    <a>
                        <div class="server-item">
                            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@i.Name</RadzenText>
                        </div>
                    </a>
                }
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Close" Style="width: 90px" />
    </RadzenStack>
</RadzenStack>

<style>
    .permission-grid-box {
        width: 260px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px !important;
        padding-bottom: 16px;
        background-color: #242527 !important;
        margin-right: 4px;
        margin-bottom: 4px;
        box-shadow: var(--rz-card-shadow);
        min-height: 80px;
        
    }

        .permission-grid-box .rz-text-subtitle1 {
            text-align: center !important;
            display: inline-block !important;
            margin-bottom: 14px !important;
        }

        .permission-grid-box span {
            display: block;
        }

        .permission-grid-box .iconify {
            width: 22px;
            height: 22px;
            margin-right: 6px;
            margin-top: -2px;
        }

    .server-item {
        background-color: #21262d !important;
        border-radius: 6px;
        border: 1px solid rgba(0,135,201,0.3) !important;
        padding: 6px;
        padding-left: 10px;
        cursor: pointer;
    }

        .server-item:hover {
            border-color: rgba(0,135,201,0.5) !important;
        }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    [Parameter]
    public TeamMemberData Member { get; set; }
}
