<!DOCTYPE html>
<html lang="en" style="background-color: #272727; box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.55);">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@_Data.Config.Instance.Name</title>
    <meta name="description" content="@_Data.Config.Instance.Description">
    <base href="/" />
    <script src="js/blazor.min.js"></script>
    <link href="app.css?v=@Program.Version" rel="stylesheet" />
    <link rel="preload" href="@Static.DefaultBackgroundUrl" as="image" type="image/webp" />
    <RadzenTheme Theme="standard-dark" @rendermode="new InteractiveServerRenderMode()" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode()"></HeadOutlet>
    <link href="css/utils.css?v=@Program.Version" rel="stylesheet" async />
    <link href="css/main.css?v=@Program.Version" rel="stylesheet" async />
    <link href="css/nav.css?v=@Program.Version" rel="stylesheet" async />
    <link href="css/tweaks.css?v=@Program.Version" rel="stylesheet" async />
    <link href="DevSpaceWeb.styles.css?v=@Program.Version" rel="stylesheet" async />
    <link href="css/workspace.css?v=@Program.Version" rel="stylesheet" async />

</head>

<body>
    <div class="loading dash-box dash-box-content dash-center">
        <div class="loading-content">
            <div class="flex-center mb-3">
                <img src="@_Data.Config.Instance.GetIconOrDefault()" style="height: 40px; width: 40px;" />
                <h5 style="color: rgb(246, 246, 247); margin-left: 12px; margin-top: 8px;">@_Data.Config.Instance.Name</h5>
            </div>
            <div class="rz-progressbar-circular rz-progressbar-indeterminate rz-progressbar-primary rz-progressbar-circular-md" style="height: 3rem; margin-top: 10px; margin: auto;">
                <svg class="rz-progressbar-circular-viewbox" viewBox="-19 -19 38 38">
                    <circle class="rz-progressbar-circular-value" r="15.91549" fill="none" stroke-dashoffset="0"></circle>
                </svg>
            </div>
            <p style="color: white; margin-top: 20px; font-family: 'Roboto','Helvetica','Arial','sans-serif';">Created by Fluxpoint Development - <a href="https://discord.gg/fluxpoint" target="_blank">Discord</a></p>
        </div>
    </div>
    <Routes @rendermode="Program.RenderMode" />
    
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@Program.Version" async></script>
    <script src="js/iconify.min.js" async></script>
    <script src="/js/qrcode.min.js?v=@Program.Version" async></script>
    <script src="/js/utils.js?v=@Program.Version" async></script>
    <script src="/js/auth.js?v=@Program.Version" async></script>
    <script src="/js/passkey_helpers.js?v=@Program.Version"></script>
    <script src="/js/passkey_auth.js?v=@Program.Version" async></script>
    <script src="/js/passkey_register.js?v=@Program.Version" async></script>
    <script src="_content/BlazorMonaco/jsInterop.js?v=@Program.Version"></script>

    <script src="/js/WorkspaceUtils.js?v=@Program.Version"></script>

    <script src="/js/blocky/main.min.js?v=@Program.Version"></script>

    <script src="/js/blocky/extensions/Multiline.js?v=@Program.Version"></script>
    <script src="/js/blocky/extensions/Multiline_Block.js?v=@Program.Version"></script>
    <script src="/js/blocky/main/ValidConnections.js?v=@Program.Version"></script>
    <script src="/js/blocky/plugins/colors.js?v=@Program.Version"></script>
    <script src="/js/blocky/extensions/patches.js?v=@Program.Version"></script>

    <script src="/js/blocky/discord/ValidDiscordConnections.js?v=@Program.Version"></script>
    <script src="/js/blocky/main/MainLogic.js?v=@Program.Version"></script>
    <script src="/js/blocky/discord/DiscordLogic.js?v=@Program.Version"></script>
    <script src="/js/blocky/extensions/category_icons.js?v=@Program.Version"></script>

    <script src="/js/blocky/plugins/workspace_search.js?v=@Program.Version"></script>
    <script src="/js/blocky/plugins/minimap.js?v=@Program.Version"></script>

    <script src="/js/blocky/plugins/highlighter.js?v=@Program.Version"></script>
    <script src="/js/blocky/plugins/field_dependent_dropdown.js?v=@Program.Version"></script>

    <script src="/js/blocky/extensions/ContextMenu.js?v=@Program.Version"></script>
    <script src="/js/blocky/extensions/CustomConnectionManager.js?v=@Program.Version"></script>
    <script src="/js/blocky/extensions/StartupConfig.js?v=@Program.Version"></script>

    <script src="/js/blocky/mutators/dynamic_list_mutator.js?v=@Program.Version"></script>

    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js?v=@Program.Version"></script>

    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js?v=@Program.Version"></script>

</body>

</html>
