@page "/tools/image/convert"
@using SkiaSharp

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon"><span class="iconify" data-icon="mdi:account"></span></div>
        <RadzenText class="mt-1" TextStyle="TextStyle.H6">@Session.Selected.Team.Data.Name</RadzenText>
    </div>
    <br />
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Convert to format</RadzenText>
    <RadzenSelectBar TValue="string" Size="ButtonSize.Small" @bind-Value="@ConvertFormat">
        <Items>
            <RadzenSelectBarItem Value="@("webp")" Text="Webp" />
            <RadzenSelectBarItem Value="@("png")" Text="Png" />
            <RadzenSelectBarItem Value="@("jpg")" Text="Jpg" />
        </Items>
    </RadzenSelectBar>
    <RadzenButton Text="Start Converting" Click=@(args => Uploader.Upload()) class="rz-mt-4" />
    <br />
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Drag and drop files to upload</RadzenText>
    <RadzenUpload @ref="@Uploader" ChooseText="Drag and drop here or click to choose files" Auto="false" Multiple="true" Url="upload/multiple" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})"
                  Style="width: 100%" Accept="image/*" MaxFileCount="_Data.Config.Instance.Limits.MaxImagesUpload" />
</div>

<div class="dash-box">
    <div style="padding: 10px; padding-top: 30px; padding-bottom: 30px; text-align: center;">
        <p>Upload image here!</p>
        <p>Dosen't actually work</p>
    </div>
    <br />
    @* <MudTable @ref="_table" T="FileConvert" Items="@Elements" MultiSelection="true" SelectionChangeable="_selectionChangeable" Hover="true"
    @bind-SelectedItems="selectedItems">
    <HeaderContent>
    <MudTh>File</MudTh>
    <MudTh>Type</MudTh>
    <MudTh>Download</MudTh>
    </HeaderContent>
    <RowTemplate>
    <MudTd DataLabel="Sign">@context.Type</MudTd>
    <MudTd DataLabel="Name">@context.Name</MudTd>
    </RowTemplate>
    <PagerContent>
    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
    </PagerContent>
    <FooterContent>
    <MudTd colspan="3">
    <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!selectedItems.Any())">Download as Zip</MudButton>
    </MudTd>
    </FooterContent>
    </MudTable> *@
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    RadzenUpload Uploader { get; set; }
    public string ConvertFormat { get; set; }

    private HashSet<FileConvert> selectedItems = new HashSet<FileConvert>();
    private IEnumerable<FileConvert> Elements = new List<FileConvert>();
    private bool _selectOnRowClick = true;
    private bool _selectionChangeable = true;
    //private MudTable<FileConvert> _table;
    private string _selectedItemText = "No row clicked";

    public class FileConvert
    {
        public string Name;
        public string Type;
    }

    public async Task GenerateImage()
    {
        SKData? data = null;
        SKSurface SkSurfaceJpg = await new ImageBuilder().Build();

        using (SKImage snapshot = SkSurfaceJpg.Snapshot())
            data = snapshot.Encode(SKEncodedImageFormat.Jpeg, 100);

        using (Stream stream = data.AsStream(false))
        {
            // Save here
        }
    }

    public void OnProgress(UploadProgressArgs args, string name)
    {
        Console.WriteLine($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                Console.WriteLine($"Uploaded: {file.Name} / {file.Size} bytes");
            }
        }
    }
}
