<div class="nav-list nav-list-sub nav-server">
    <div class="nav-list-header">
        <span class="iconify" data-icon="mdi:server"></span>
        <h4>@Session.Selected.Server.Data.Name</h4>
    </div>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/home")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:home"></span>
            <p>Home</p>
        </Template>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem @bind-Expanded="DockerExpanded" Click="(() => ToolsExpanded = false)">
        <Template>
            <p>Docker</p>
        </Template>
        <ChildContent>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/stacks")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="ri:stack-fill"></span>
                    <p>Stacks</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/containers")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="ri:box-3-fill"></span>
                    <p>Containers</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/images")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:folder-image"></span>
                    <p>Images</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/volumes")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:storage"></span>
                    <p>Volumes</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/networks")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:local-area-network"></span>
                    <p>Networks</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/registry")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:table"></span>
                    <p>Registry</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/plugins")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:power-plug"></span>
                    <p>Plugins</p>
                </Template>
            </RadzenPanelMenuItem>
        </ChildContent>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem @bind-Expanded="ToolsExpanded" Click="(() => DockerExpanded = false)">
        <Template>
            <p>Tools</p>
        </Template>
        <ChildContent>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/info")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:information-slab-symbol"></span>
                    <p>System Info</p>
                </Template>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/process")" Match="NavLinkMatch.All">
                <Template>
                    <span class="iconify" data-icon="mdi:chip"></span>
                    <p>Process Manager</p>
                </Template>
            </RadzenPanelMenuItem>
        </ChildContent>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/ssh")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:console-line"></span>
            <p>SSH</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/status")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:cloud-check-variant"></span>
            <p>Status</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/firewall")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:wall"></span>
            <p>Firewall</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/files")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:folder"></span>
            <p>Files</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/database")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:database"></span>
            <p>Database</p>
        </Template>
    </RadzenPanelMenuItem>

    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/s/" + Session.Selected.Server.VanityUrl + "/webhooks")" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:webhook"></span>
            <p>Webhooks</p>
        </Template>
    </RadzenPanelMenuItem>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public bool DockerExpanded { get; set; }
    public bool ToolsExpanded { get; set; }
}