<div class="nav-list nav-list-team">
    <a href="@("/teams/" + Session.Selected.Team.VanityUrl)">
        <div class="selected-team mb-2">
            <img src="@Session.Selected.Team.Data.GetIconOrDefault()" />
            <h4 style="color: var(--rz-menu-top-item-color) !important; text-decoration: none !important;">@Session.Selected.Team.Data.Name</h4>
        </div>
    </a>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers")" class="nav-link-server" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:server"></span>
            <p>Servers</p>
        </Template>
    </RadzenPanelMenuItem>
    @* <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites")" class="nav-link-web" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:web"></span>
            <p>Websites</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/projects")" class="nav-link-projects" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:lightbulb"></span>
            <p>Projects</p>
        </Template>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Path="@("/teams/" + Session.Selected.Team.VanityUrl + "/logs")" class="nav-link-errors" Match="NavLinkMatch.All">
        <Template>
            <span class="iconify" data-icon="mdi:warning"></span>
            <p>Error Logs (Sentry)</p>
        </Template>
    </RadzenPanelMenuItem> *@
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
