<div class="nav-list nav-list-team">
    <div class="selected-team">
        <img src="https://fluxpoint.dev/img/icons/fluxpoint.png" />
        <h4>@Session.Selected.Team.Data.Name</h4>
    </div>
    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/servers")" Class="nav-link-server" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:server"></span> My Servers</MudNavLink>
    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/websites")" Class="nav-link-web" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:web"></span> My Websites</MudNavLink>
    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/projects")" Class="nav-link-projects" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:lightbulb"></span> My Projects</MudNavLink>
    <MudNavLink Href="@("/teams/" + Session.Selected.Team.VanityUrl + "/errors")" Class="nav-link-errors" Match="NavLinkMatch.All"><span class="iconify" data-icon="mdi:warning"></span> Error Logs (Sentry)</MudNavLink>
</div>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }
}
