@using DevSpaceWeb.Components.DynamicForm
@using Microsoft.AspNetCore.Components.Forms
@using Newtonsoft.Json
@using DevSpaceWeb.Models.Accounts
@using DevSpaceWeb.Models.Defaults
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@inject UserManager<AuthUser> UserManager
@inject Radzen.DialogService dialogService

<RadzenStack Gap="0.5rem" Orientation="Orientation.Vertical" Style="height: 100%;">
    <EditForm @ref="@Form" Model="@CloneData"
              OnSubmit="@(context => Submit())">
        <DataAnnotationsValidator />

        <RadzenStack JustifyContent="JustifyContent.Start">
            @if (!string.IsNullOrEmpty(Description))
            {
                <p>@Description</p>
            }
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
                    @ErrorMessage
                </RadzenAlert>
            }

            @foreach (var field in FormItems)
            {
                <RadzenLabel Text="@field.Label" class="rz-my-0"></RadzenLabel>
                @RenderFormElement(CloneData, field, field.Property)
                @if (!string.IsNullOrEmpty(field.ErrorMessage))
                {
                    <div class="validation-message" style="color: var(--rz-danger);">@field.ErrorMessage</div>
                }
                <br style="margin-bottom: 20px;" />
            }

        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Cancel" Style="width: 90px" />
            <RadzenButton Click="@Submit" Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Text="Submit" Style="width: 90px" />
        </RadzenStack>
    </EditForm>
</RadzenStack>

@code {

    [CascadingParameter]
    private SessionProvider Session { get; set; }

    [Parameter]
    public object ModelData { get; set; }

    public object CloneData { get; set; }

    public EditForm Form { get; internal set; }

    public List<DynamicFormItem> FormItems { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public Func<object, string?> SubmitTask { get; set; }

    public string? ErrorMessage { get; set; }

    public bool IsLoaded = false;

    public RenderFragment RenderFormElement(object model, DynamicFormItem item, PropertyInfo propInfoValue) => builder =>
    {
        builder.OpenComponent(0, typeof(RadzenTextBox));
        builder.AddAttribute(1, "value", propInfoValue.GetValue(model));

        builder.AddAttribute(2, "valuechanged", EventCallback.Factory.Create<string>(this, (value) =>
        {
            propInfoValue.SetValue(model, value);
        }));

        builder.AddAttribute(3, "style", "width: 100%");
        builder.AddAttribute(4, "aria-label", $"{item.Label} Text");

        MaxLengthAttribute? MaxLength = propInfoValue.GetCustomAttribute<MaxLengthAttribute>();
        if (MaxLength != null)
            builder.AddAttribute(5, "maxlength", (Int64)MaxLength.Length);

        AutoCompleteAttribute? AutoComplete = propInfoValue.GetCustomAttribute<AutoCompleteAttribute>();
        if (AutoComplete != null)
            builder.AddAttribute(6, "autocomplete", AutoComplete.Type.GetType().GetMember(AutoComplete.Type.ToString()).First().GetCustomAttribute<DisplayAttribute>().Name);
        else
            builder.AddAttribute(6, "autocomplete", "off");

        builder.CloseComponent();
    };

    protected override void OnParametersSet()
    {
        if (IsLoaded)
            return;
        IsLoaded = true;
        CloneData = JsonConvert.DeserializeObject(JsonConvert.SerializeObject(ModelData), ModelData.GetType());
        FormItems = CloneData.GetType().GetProperties().Select(x => new DynamicFormItem(CloneData, x)).ToList();

    }

    public async Task Submit()
    {

        if (Program.IsPreviewMode)
        {
            Session.ShowPreviewModeNotice();
            return;
        }

        foreach (var i in FormItems)
        {
            if (!i.Validate(CloneData))
            {
                return;
            }
            i.ErrorMessage = string.Empty;
        }

        ErrorMessage = SubmitTask.Invoke(CloneData);

        if (string.IsNullOrEmpty(ErrorMessage))
        {
            dialogService.Close(true);
        }
    }

}
