@implements IDisposable

<RadzenPanelMenu Match="NavLinkMatch.All">
    <RadzenPanelMenuItem Path="@("/teams")" Match="NavLinkMatch.All" Style="font-size: var(--rz-text-subtitle1-font-size);">
        <Template>
            <span class="iconify" data-icon="mdi:account-supervisor-circle"></span>
            My Teams
        </Template>
    </RadzenPanelMenuItem>

    @if (Session.Selected.Team != null)
    {
        <NavTeam StateChange="@StateChange"></NavTeam>

        @if (Session.Selected.Server != null)
        {
            <NavServer StateChange="@StateChange"></NavServer>
        }

        @if (Session.Selected.Console != null)
        {
            <NavConsole StateChange="@StateChange"></NavConsole>
        }

        @if (Session.Selected.Website != null)
        {
            <NavWebsite StateChange="@StateChange"></NavWebsite>
        }

        @if (Session.Selected.Project != null)
        {
            <NavProject StateChange="@StateChange"></NavProject>
        }
        @if (Session.Selected.Log != null)
        {
            <NavLog StateChange="@StateChange"></NavLog>
        }
    }
</RadzenPanelMenu>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; }

    public bool StateChange { get; set; } = false;

    protected override void OnInitialized()
    {
        Session.EventNavMenuChange += UpdateState;
    }

    void IDisposable.Dispose()
    {
        Session.EventNavMenuChange -= UpdateState;
    }

    public void UpdateState(object sender, EventArgs e)
    {
        StateChange = !StateChange;
        StateHasChanged();
    }
}
