@using DevSpaceWeb.Data.Consoles
@inject DialogService DialogService
@inject NavigationManager Nav

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:gear"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Settings</RadzenText>
    </div>
    <br />
    <RadzenStack Gap="10px" JustifyContent="JustifyContent.Left" Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/consoles/" + Session.Selected.Team?.Console?.VanityUrl + "/settings")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasConsolePermission(Team, Console, ConsolePermission.ManageConsole) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:gear"></span>
                <RadzenText TextStyle="TextStyle.H6">Settings</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/consoles/" + Session.Selected.Team?.Console?.VanityUrl + "/rcon")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasConsolePermission(Team, Console, ConsolePermission.ManageConnection) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:console-line"></span>
                <RadzenText TextStyle="TextStyle.H6">Rcon</RadzenText>
            </RadzenCard>
        </a>
        <a href="@("/teams/" + Session.Selected.Team?.VanityUrl + "/consoles/" + Session.Selected.Team?.Console?.VanityUrl + "/permissions")">
            <RadzenCard class="@("rz-p-1 rz-text-align-center settings-item" + (Member != null && Member.HasConsolePermission(Team, Console, ConsolePermission.ManagePermissions) ? "" : " settings-item-disabled"))">
                <span class="iconify" data-icon="mdi:shield-key"></span>
                <RadzenText TextStyle="TextStyle.H6">Permissions</RadzenText>
            </RadzenCard>
        </a>
    </RadzenStack>
</div>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon">
            <span class="iconify" data-icon="mdi:gear"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">Manage</RadzenText>
    </div>
    <br />
    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-05">Owner</RadzenText>
    <RadzenUserSelector Value="@OwnerUser" Disabled="@(Member == null || !Member.CanOwn(Console))" OnSelected="@ChangeOwner"></RadzenUserSelector>
    <br />
    <RadzenButton Click="@Delete" Shade="Shade.Dark" ButtonStyle="ButtonStyle.Danger" Text="Delete Console" Disabled="@(Member == null || !Member.HasConsolePermission(Team, Console, ConsolePermission.DeleteConsoleResource))" />
</div>

<style>
    .settings-item {
    width: 120px;
    height: 120px;
    }

    .settings-item .iconify {
    width: 30px;
    height: 30px;
    margin-top: 16px;
    color: var(--rz-info);
    }

    .settings-item .rz-text-h6 {
    margin-top: 14px;
    font-size: 1.1rem;
    color: var(--rz-base-200) !important;
    }

    .rz-stack a {
    text-decoration: none !important;
    }

    .settings-item:hover {
    background-color: var(--rz-base-dark);
    outline: solid 1px var(--rz-secondary-dark) !important;
    }

    .settings-item-disabled {
        opacity: 0.6;
        cursor: not-allowed !important;
    }
</style>

@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public ConsoleData? Console => Session.Selected.Console;
    public TeamMemberData? Member => Session.Selected.Member;

    public string OwnerUser { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Console != null)
        {
            if (_DB.Users.TryGetValue(Console.OwnerId, out PartialUserData? user))
                OwnerUser = user.UserName;
            else
                OwnerUser = "Unknown?";

        }
    }

    public async Task Delete()
    {
        if (Console == null || Member == null || !Member.HasConsolePermission(Team, Console, ConsolePermission.DeleteConsoleResource))
            return;

        bool Confirm = await DialogService.ShowConfirmAsync("Delete Console", "Are you sure your want to delete this?.", "Confirm", ButtonStyle.Success);
        if (Confirm)
        {
            if (!Member.HasConsolePermission(Team, Console, ConsolePermission.DeleteConsoleResource))
                return;

            await Console.DeleteAsync(Member, () =>
            {
                Nav.NavigateTo("/teams/" + Session.Selected.Team?.VanityUrl + "/consoles");
            });
        }
    }


    public async Task ChangeOwner(PartialUserData user)
    {
        if (Member == null || Console == null || !Member.CanOwn(Console))
            return;

        bool Confirm = await DialogService.ShowConfirmAsync("Change Ownership", "Change API client owner, this will also reset the token.", "Confirm", ButtonStyle.Success);
        if (Confirm)
        {
            if (!Member.CanOwn(Console))
                 return;

            await Console.UpdateAsync(new UpdateDefinitionBuilder<ConsoleData>()
            .Set(x => x.OwnerId, user.Id), () =>
            {
                Console.OwnerId = user.Id;
                OwnerUser = user.UserName;

                _ = _DB.AuditLogs.CreateAsync(new AuditLog(Member, AuditLogCategoryType.Member, AuditLogEventType.ConsoleOwnershipChanged)
                .SetTarget(Console)
                .AddProperty("User", user.UserName)
                .AddProperty("ID", user.Id.ToString()));

                StateHasChanged();
            });
        }
    }
}
