@using DevSpaceShared.Events.Docker
@using DevSpaceShared.Responses
@using DevSpaceShared.Services
@using DevSpaceShared.WebSocket
@using DevSpaceWeb.Agents
@using DevSpaceWeb.Apps.Data
@using System.Linq.Dynamic.Core
@using DevSpaceWeb.Models.Apps
@using Discord.Rest
@inject DialogService Dialogs
@inject NavigationManager Nav
@inject NotificationService Notifications
@inject IJSRuntime JS
@inject ContextMenuService ContextMenuService

<PageTitle>@(App?.Name ?? "App") Commands | @_Data.Config.Instance.Name</PageTitle>

<div class="dash-box dash-box-content">
    <div class="dash-box-header">
        <div class="dash-box-icon dash-box-back" onclick="history.back()">
            <span class="iconify" data-icon="mdi:slash-forward-box"></span>
            <span class="iconify" data-icon="mdi:arrow-left-thick"></span>
        </div>
        <RadzenText TextStyle="TextStyle.H6">App Commands</RadzenText>
        @if ((IsLoading) && Member != null && Member.HasAppPermission(Team, App, AppPermission.ViewCommands))
        {
            <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.ExtraSmall" class="ml-2" />
        }
    </div>

    @if (Permissions.CheckFailedAppPermissions(Member, Team, App, AppPermission.ViewCommands, out AppPermission? failedPerm))
    {
        <br />
        <RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Dark" AllowClose="false">
            You do not have permission for @Utils.FriendlyName(failedPerm.ToString()!)
        </RadzenAlert>
    }
    else
    {
        <br />
        <RadzenTabs @bind-SelectedIndex="@TabIndex">
            <Tabs>
                <RadzenTabsItem Text="Slash Commands" Disabled="@(IsLoading)">
                    <ActionBar>
                        <RadzenButton class="actionbar-first" Variant="Variant.Outlined" Text="Enable" Click="@RunSelectedEnableCommands" Icon="play_arrow" IconColor="@Colors.InfoDark" Disabled="@(!AnyCommandsSelected || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton Variant="Variant.Outlined" Text="Disable" Click="@RunSelectedDisableCommands" Icon="pause" IconColor="@Colors.InfoDark" Disabled="@(!AnyCommandsSelected || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton class="actionbar-last" Variant="Variant.Outlined" Text="Remove" Click="@RunSelectedRemoveCommands" Icon="delete" Disabled="@(!AnyCommandsSelected || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton Variant="Variant.Filled" Text="Create Slash Command" Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@CreateCommand" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" />
                        <RadzenButton Variant="Variant.Filled" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshCommands" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ViewCommands))" />
                        <RadzenFormField Variant="Variant.Outlined" AllowFloatingLabel="false">
                            <Start>
                                <RadzenIcon Icon="search" />
                            </Start>
                            <ChildContent>
                                <RadzenTextBox @ref="@CommandsSearchBox" id="actionSearch" @bind-Value="@SearchText" aria-label="Search TextBox" AutoCompleteType="AutoCompleteType.Off"
                                               autocapitalize="none" MaxLength="100" inputmode="search" Placeholder="Search commands"
                                               @oninput="@(args => SetNameFilter(args.Value as string))" />
                            </ChildContent>
                            <End>
                                @if (!string.IsNullOrWhiteSpace(SearchText))
                                {
                                    <RadzenButton Icon="close" Click="@(args => SetNameFilter(null))" Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Shade="Shade.Dark" Size="ButtonSize.Small" />
                                }
                            </End>
                        </RadzenFormField>
                    </ActionBar>
                    <br />
                    <RadzenDataGrid @ref="@CommandsGrid" Data="@CommandsList" LoadData="@LoadCommandsData" Count="@CommandsCount" IsLoading="@IsLoading"
                                    Density="Density.Compact" AllowRowSelectOnRowClick="false" EmptyText="No slash commands."
                                    PagerHorizontalAlign="HorizontalAlign.Center" AllowPaging="true" @bind-PageSize="@Session.ItemsPerPage" GridLines="DataGridGridLines.Horizontal"
                                    @bind-Value="@SelectedCommands" SelectionMode="DataGridSelectionMode.Multiple"
                                    PageSizeOptions="@Static.TablePageSizeOptions" ShowPagingSummary="true"
                                    PagingSummaryFormat="@(CommandsCount + " slash command" + (CommandsCount != 1 ? "s" : "") )"
                                    AllowSorting="false" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    TItem="DiscordAppSlashCommand" CellContextMenu="@(args => ShowContextMenuWithManageItems(args.Data, args))">
                        <Columns>
                            <RadzenDataGridColumn Width="36px" Frozen="true" Filterable="false">
                                <HeaderTemplate>
                                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select all items" } })"
                                                    Value="@(SelectedCommands == null || SelectedCommands?.Any() != true ? false : !CommandsList.All(i => SelectedCommands.Contains(i)) ? null : SelectedCommands.Any(i => SelectedCommands.Contains(i)))"
                                                    Change="@(args => SelectedCommands = args == true ? (SelectedCommands != null && SelectedCommands.Any()) ? null : CommandsList.ToList() : null)" Disabled="@(IsLoading || CommandsCount == 0)" />
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(SelectedCommands != null && SelectedCommands.Contains(data))" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select item" } })"
                                                    TValue="bool" Change="@(() => CommandsGrid.SelectRow(data))" Disabled="@IsLoading" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Name" Width="200px" Frozen="true" Property="@nameof(DiscordAppSlashCommand.Name)">
                                <Template>
                                    <RadzenLink Path="@("/workspaces/" + App.Id.ToString() + "/" + context.WorkspaceId.ToString())" Target="_blank" Text="@context.Name" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Status" Width="100px" Property="@nameof(IDiscordAppCommand.IsEnabled)" FilterMode="FilterMode.CheckBoxList" FormatString="{0}" FormatProvider="@EnabledFilterProvider.Instance">
                                <Template>
                                    @if (context.IsEnabled)
                                    {
                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="BadgeStyle.Success" Text="Enabled" IsPill="true" />
                                    }
                                    else
                                    {
                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="BadgeStyle.Warning" Text="Disabled" IsPill="true" />
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Actions" Width="80px" Filterable="false">
                                <Template>
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="6px">
                                        <RadzenButton Click="@(args => ShowContextMenuWithManageItems(context, args))" Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" />
                                        <a href="@("/workspaces/" + App.Id.ToString() + "/" + context.WorkspaceId.ToString())" target="_blank"><RadzenButton Icon="app_registration" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(!Member.HasAppPermission(Team, App, AppPermission.ViewWorkspaces))" /></a>
                                    </RadzenStack>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Created" Width="140px" Filterable="false">
                                <Template>
                                    @Utils.GetLocalDate(Session, context.CreatedAt)
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="By" Width="220px" Filterable="false">
                                <Template>
                                    <MemberStrip Team="@Team" UserId="@context.CreatedBy"></MemberStrip>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Update" Width="140px" Filterable="false">
                                <Template>
                                    @if (context.UpdatedAt.HasValue)
                                    {
                                        @Utils.GetLocalDate(Session, context.UpdatedAt)
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Description">
                                <Template>
                                    @context.Description
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
                <RadzenTabsItem Text="User Commands" Disabled="@(IsLoading)">
                    <ActionBar>
                        <RadzenButton class="actionbar-first" Variant="Variant.Outlined" Text="Enable" Click="@RunSelectedEnableCommands" Icon="play_arrow" IconColor="@Colors.InfoDark" Disabled="@(!AnyUsersSelected || IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton Variant="Variant.Outlined" Text="Disable" Click="@RunSelectedDisableCommands" Icon="pause" IconColor="@Colors.InfoDark" Disabled="@(!AnyUsersSelected || IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton class="actionbar-last" Variant="Variant.Outlined" Text="Remove" Click="@RunSelectedRemoveCommands" Icon="delete" Disabled="@(!AnyUsersSelected || IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton Variant="Variant.Filled" Text="Create User Command" Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@CreateCommand" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" />
                        <RadzenButton Variant="Variant.Filled" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshCommands" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ViewCommands))" />
                        
                    </ActionBar>
                    <br />
                    <RadzenDataGrid @ref="@UsersGrid" Data="@UsersList" LoadData="@LoadCommandsData" Count="@UsersCount" IsLoading="@IsLoading"
                                    Density="Density.Compact" AllowRowSelectOnRowClick="false" EmptyText="No user commands."
                                    GridLines="DataGridGridLines.Horizontal" @bind-Value="@SelectedUsers" SelectionMode="DataGridSelectionMode.Multiple"
                                    ShowPagingSummary="true" PagingSummaryFormat="@(UsersCount + " user command" + (UsersCount != 1 ? "s" : "") )"
                                    TItem="IDiscordAppCommand" CellContextMenu="@(args => ShowContextMenuWithManageItems(args.Data, args))">
                        <Columns>
                            <RadzenDataGridColumn Width="36px" Frozen="true">
                                <HeaderTemplate>
                                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select all items" } })"
                                                    Value="@(SelectedUsers == null || SelectedUsers?.Any() != true ? false : !UsersList.All(i => SelectedUsers.Contains(i)) ? null : SelectedUsers.Any(i => SelectedUsers.Contains(i)))"
                                                    Change="@(args => SelectedUsers = args == true ? (SelectedUsers != null && SelectedUsers.Any()) ? null : UsersList.ToList() : null)" Disabled="@(IsLoading || UsersCount == 0)" />
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(SelectedUsers != null && SelectedUsers.Contains(data))" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select item" } })"
                                                    TValue="bool" Change="@(() => UsersGrid.SelectRow(data))" Disabled="@IsLoading" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Name" Width="200px" Frozen="true" Property="@nameof(IDiscordAppCommand.Name)">
                                <Template>
                                    <RadzenLink Path="@("/workspaces/" + App.Id.ToString() + "/" + context.WorkspaceId.ToString())" Target="_blank" Text="@context.Name" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Status" Width="100px" Property="@nameof(IDiscordAppCommand.IsEnabled)" FilterMode="FilterMode.CheckBoxList" FormatString="{0}" FormatProvider="@EnabledFilterProvider.Instance">
                                <Template>
                                    @if (context.IsEnabled)
                                    {
                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="BadgeStyle.Success" Text="Enabled" IsPill="true" />
                                    }
                                    else
                                    {
                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="BadgeStyle.Warning" Text="Disabled" IsPill="true" />
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Actions" Width="80px" Filterable="false">
                                <Template>
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="6px">
                                        <RadzenButton Click="@(args => ShowContextMenuWithManageItems(context, args))" Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" />
                                        <a href="@("/workspaces/" + App.Id.ToString() + "/" + context.WorkspaceId.ToString())" target="_blank"><RadzenButton Icon="app_registration" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(!Member.HasAppPermission(Team, App, AppPermission.ViewWorkspaces))" /></a>
                                    </RadzenStack>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Created" Width="140px" Filterable="false">
                                <Template>
                                    @Utils.GetLocalDate(Session, context.CreatedAt)
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="By" Width="220px" Filterable="false">
                                <Template>
                                    <MemberStrip Team="@Team" UserId="@context.CreatedBy"></MemberStrip>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Update" Width="140px" Filterable="false">
                                <Template>
                                    @if (context.UpdatedAt.HasValue)
                                    {
                                        @Utils.GetLocalDate(Session, context.UpdatedAt)
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Description">
                                <Template>
                                    @context.Description
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Message Commands" Disabled="@(IsLoading)">
                    <ActionBar>
                        <RadzenButton class="actionbar-first" Variant="Variant.Outlined" Text="Enable" Click="@RunSelectedEnableCommands" Icon="play_arrow" IconColor="@Colors.InfoDark" Disabled="@(!AnyMessagesSelected || IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton Variant="Variant.Outlined" Text="Disable" Click="@RunSelectedDisableCommands" Icon="pause" IconColor="@Colors.InfoDark" Disabled="@(!AnyMessagesSelected || IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton class="actionbar-last" Variant="Variant.Outlined" Text="Remove" Click="@RunSelectedRemoveCommands" Icon="delete" Disabled="@(!AnyMessagesSelected || IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" IconColor="@Colors.DangerDark" ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
                        <RadzenButton Variant="Variant.Filled" Text="Create Message Command" Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@CreateCommand" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" />
                        <RadzenButton Variant="Variant.Filled" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Shade="Shade.Dark" Size="ButtonSize.Small" Click="@RefreshCommands" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ViewCommands))" />
                    </ActionBar>
                    <br />
                    <RadzenDataGrid @ref="@MessagesGrid" Data="@MessagesList" LoadData="@LoadCommandsData" IsLoading="@IsLoading"
                                    Density="Density.Compact" AllowRowSelectOnRowClick="false" EmptyText="No message commands."
                                    GridLines="DataGridGridLines.Horizontal" @bind-Value="@SelectedMessages" SelectionMode="DataGridSelectionMode.Multiple"
                                    ShowPagingSummary="true" PagingSummaryFormat="@(MessagesCount + " message command" + (MessagesCount != 1 ? "s" : "") )"
                                    TItem="IDiscordAppCommand" CellContextMenu="@(args => ShowContextMenuWithManageItems(args.Data, args))">
                        <Columns>
                            <RadzenDataGridColumn Width="36px" Frozen="true" Filterable="false">
                                <HeaderTemplate>
                                    <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select all items" } })"
                                                    Value="@(SelectedMessages == null || SelectedMessages?.Any() != true ? false : !MessagesList.All(i => SelectedMessages.Contains(i)) ? null : SelectedMessages.Any(i => SelectedMessages.Contains(i)))"
                                                    Change="@(args => SelectedMessages = args == true ? (SelectedMessages != null && SelectedMessages.Any()) ? null : MessagesList.ToList() : null)" Disabled="@(IsLoading || MessagesCount == 0)" />
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(SelectedMessages != null && SelectedMessages.Contains(data))" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Select item" } })"
                                                    TValue="bool" Change="@(() => MessagesGrid.SelectRow(data))" Disabled="@IsLoading" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Name" Width="200px" Frozen="true" Property="@nameof(IDiscordAppCommand.Name)">
                                <Template>
                                    <RadzenLink Path="@("/workspaces/" + App.Id.ToString() + "/" + context.WorkspaceId.ToString())" Target="_blank" Text="@context.Name" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Status" Width="100px" Property="@nameof(IDiscordAppCommand.IsEnabled)" FilterMode="FilterMode.CheckBoxList" FormatString="{0}" FormatProvider="@EnabledFilterProvider.Instance">
                                <Template>
                                    @if (context.IsEnabled)
                                    {
                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="BadgeStyle.Success" Text="Enabled" IsPill="true" />
                                    }
                                    else
                                    {
                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="BadgeStyle.Warning" Text="Disabled" IsPill="true" />
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Actions" Width="80px" Filterable="false">
                                <Template>
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="6px">
                                        <RadzenButton Click="@(args => ShowContextMenuWithManageItems(context, args))" Icon="build" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(IsLoading || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))" />
                                        <a href="@("/workspaces/" + App.Id.ToString() + "/" + context.WorkspaceId.ToString())" target="_blank"><RadzenButton Icon="app_registration" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled="@(!Member.HasAppPermission(Team, App, AppPermission.ViewWorkspaces))" /></a>
                                    </RadzenStack>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Created" Width="140px" Filterable="false">
                                <Template>
                                    @Utils.GetLocalDate(Session, context.CreatedAt)
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="By" Width="220px" Filterable="false">
                                <Template>
                                    <MemberStrip Team="@Team" UserId="@context.CreatedBy"></MemberStrip>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Update" Width="140px" Filterable="false">
                                <Template>
                                    @if (context.UpdatedAt.HasValue)
                                    {
                                        @Utils.GetLocalDate(Session, context.UpdatedAt)
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Title="Description">
                                <Template>
                                    @context.Description
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    }
</div>


@code {
    [CascadingParameter]
    private SessionProvider Session { get; set; } = null!;

    public TeamData? Team => Session.Selected.Team?.Data;
    public TeamMemberData? Member => Session.Selected.Member;
    public AppData? App => Session.Selected.App;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (CanSelect)
        {
            try
            {
                if (TabIndex == 0 && CommandsSearchBox != null)
                    _ = CommandsSearchBox.FocusAsync();
            }
            catch { }
            CanSelect = false;
        }
    }
    private int _tabIndex;
    public int TabIndex { get { return _tabIndex; } set { _tabIndex = value; CanSelect = true; } }
    public bool CanSelect = true;

    public RadzenTextBox CommandsSearchBox { get; set; } = null!;

    public int CommandsCount { get; set; }
    public IQueryable<DiscordAppSlashCommand>? CommandsList;
    public IList<DiscordAppSlashCommand>? SelectedCommands;
    public bool AnyCommandsSelected => SelectedCommands != null ? SelectedCommands.Any() : false;
    public RadzenDataGrid<DiscordAppSlashCommand> CommandsGrid { get; set; }

    public int UsersCount { get; set; }
    public IQueryable<IDiscordAppCommand>? UsersList;
    public IList<IDiscordAppCommand>? SelectedUsers;
    public bool AnyUsersSelected => SelectedUsers != null ? SelectedUsers.Any() : false;
    public RadzenDataGrid<IDiscordAppCommand> UsersGrid { get; set; }

    public int MessagesCount { get; set; }
    public IQueryable<IDiscordAppCommand>? MessagesList;
    public IList<IDiscordAppCommand>? SelectedMessages;
    public bool AnyMessagesSelected => SelectedMessages != null ? SelectedMessages.Any() : false;
    public RadzenDataGrid<IDiscordAppCommand> MessagesGrid { get; set; }

    public bool IsLoading = true;
    public string? SearchText { get; set; }
    public async Task SetNameFilter(string? text)
    {
        SearchText = text;
        try
        {
            await CommandsGrid.ColumnsCollection.ElementAt(1).SetFilterValueAsync(text);
        }
        catch { }
        await CommandsGrid.Reload();
    }

    public async Task LoadCommandsData(LoadDataArgs args)
    {
        if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ViewCommands))
            return;

        IsLoading = true;

        switch (TabIndex)
        {
            case 0:
                {
                    IQueryable<DiscordAppSlashCommand> query = App.SlashCommands.Values.AsQueryable();

                    if (!string.IsNullOrEmpty(args.Filter))
                        query = query.Where(args.Filter);

                    CommandsCount = query.Count();
                    CommandsList = query.OrderBy(x => x.Name).Skip(args.Skip.GetValueOrDefault()).Take(args.Top.GetValueOrDefault());
                }
                break;
            case 1:
                {
                    IQueryable<IDiscordAppCommand> query = App.UserCommands.Values.AsQueryable();

                    if (!string.IsNullOrEmpty(args.Filter))
                        query = query.Where(args.Filter);

                    UsersCount = query.Count();
                    UsersList = query.OrderBy(x => x.Name).Skip(args.Skip.GetValueOrDefault()).Take(args.Top.GetValueOrDefault());
                }
                break;
            case 2:
                {
                    IQueryable<IDiscordAppCommand> query = App.MessageCommands.Values.AsQueryable();

                    if (!string.IsNullOrEmpty(args.Filter))
                        query = query.Where(args.Filter);

                    MessagesCount = query.Count();
                    MessagesList = query.OrderBy(x => x.Name).Skip(args.Skip.GetValueOrDefault()).Take(args.Top.GetValueOrDefault());
                }
                break;
        }

        IsLoading = false;
    }

    public async Task CreateCommand()
    {
        if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
            return;

        switch (TabIndex)
        {
            case 0:
                {
                    await Dialogs.ShowDynamicFormAsync<SlashCommandCreateModal>("Create Slash Command", new SlashCommandCreateModal(), async (SlashCommandCreateModal data) =>
        {
            if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
                return "You do not have team permission for Manage Commands";

            if (App.SlashCommands.Keys.Count() >= 100)
                return "You can only add up to 100 slash commands.";

            if (!_Data.DiscordClients.TryGetValue(App.Id, out DiscordRestClient client) || client.LoginState != Discord.LoginState.LoggedIn)
                return "Failed to load client, please reauthorize the bot token.";

            if (App.SlashCommands.ContainsKey(data.Name))
                return "This command name already exists.";

            if (string.IsNullOrEmpty(data.Description))
                data.Description = "‎ ";

            RestApplicationCommand Command = null;
            try
            {
                var builder = new Discord.SlashCommandBuilder().WithName(data.Name)
                .WithDescription(data.Description);
                Command = await client.CreateGlobalCommand(builder.Build());
                await Command.ModifyAsync(x => x.IntegrationTypes = new HashSet<Discord.ApplicationIntegrationType> { Discord.ApplicationIntegrationType.GuildInstall });
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                return "Failed to create slash command due to Discord API error.";
            }

            WorkspaceData workspace = new WorkspaceData
            {
                AppId = App.Id,
                TeamId = Team.Id,
                Type = WorkspaceType.DiscordSlashCommand,
                CommandFormat = data.Name
            };

            await _DB.Workspaces.CreateAsync(workspace);

            App.SlashCommands.Add(data.Name, new DiscordAppSlashCommand
            {
                Name = data.Name,
                Description = data.Description,
                CommandId = Command.Id.ToString(),
                WorkspaceId = workspace.Id,
                CreatedAt = DateTime.UtcNow,
                CreatedBy = Member.UserId
            });

            var Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>().Set(x => x.SlashCommands, App.SlashCommands));
            if (!Result.IsAcknowledged)
            {
                App.SlashCommands.Remove(data.Name);
                _ = _DB.Workspaces.DeleteAsync(workspace);
                return "Failed to add command data to app.";
            }
            InvokeAsync(RefreshCommands);
            return null;
        });
                }
                break;
            case 1:
                {
                    await Dialogs.ShowDynamicFormAsync<CommandCreateModal>("Create User Command", new CommandCreateModal(), async (CommandCreateModal data) =>
        {
            if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
                return "You do not have team permission for Manage Commands";

            if (App.UserCommands.Keys.Count() >= 5)
                return "You can only add up to 5 user commands.";

            if (!_Data.DiscordClients.TryGetValue(App.Id, out DiscordRestClient client) || client.LoginState != Discord.LoginState.LoggedIn)
                return "Failed to load client, please reauthorize the bot token.";

            if (App.UserCommands.ContainsKey(data.Name))
                return "This command name already exists.";

            RestApplicationCommand Command = null;
            try
            {
                var builder = new Discord.UserCommandBuilder().WithName(data.Name);

                Command = await client.CreateGlobalCommand(builder.Build());
                await Command.ModifyAsync(x => x.IntegrationTypes = new HashSet<Discord.ApplicationIntegrationType> { Discord.ApplicationIntegrationType.GuildInstall });
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                return "Failed to create user command due to Discord API error.";
            }

            WorkspaceData workspace = new WorkspaceData
            {
                AppId = App.Id,
                TeamId = Team.Id,
                Type = WorkspaceType.DiscordUserCommand,
                CommandFormat = data.Name
            };

            await _DB.Workspaces.CreateAsync(workspace);

            App.UserCommands.Add(data.Name, new IDiscordAppCommand
            {
                Name = data.Name,
                Description = data.Description,
                CommandId = Command.Id.ToString(),
                WorkspaceId = workspace.Id,
                CreatedAt = DateTime.UtcNow,
                CreatedBy = Member.UserId
            });

            var Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>().Set(x => x.UserCommands, App.UserCommands));
            if (!Result.IsAcknowledged)
            {
                App.UserCommands.Remove(data.Name);
                _ = _DB.Workspaces.DeleteAsync(workspace);
                return "Failed to add command data to app.";
            }
            InvokeAsync(RefreshCommands);
            return null;
        });
                }
                break;
            case 2:
                {
                    await Dialogs.ShowDynamicFormAsync<CommandCreateModal>("Create Message Command", new CommandCreateModal(), async (CommandCreateModal data) =>
        {
            if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
                return "You do not have team permission for Manage Commands";

            if (App.MessageCommands.Keys.Count() >= 5)
                return "You can only add up to 5 message commands.";

            if (!_Data.DiscordClients.TryGetValue(App.Id, out DiscordRestClient client) || client.LoginState != Discord.LoginState.LoggedIn)
                return "Failed to load client, please reauthorize the bot token.";

            if (App.MessageCommands.ContainsKey(data.Name))
                return "This command name already exists.";

            RestApplicationCommand Command = null;
            try
            {
                var builder = new Discord.MessageCommandBuilder().WithName(data.Name);

                Command = await client.CreateGlobalCommand(builder.Build());
                await Command.ModifyAsync(x => x.IntegrationTypes = new HashSet<Discord.ApplicationIntegrationType> { Discord.ApplicationIntegrationType.GuildInstall });
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                return "Failed to create message command due to Discord API error.";
            }

            WorkspaceData workspace = new WorkspaceData
            {
                AppId = App.Id,
                TeamId = Team.Id,
                Type = WorkspaceType.DiscordMessageCommand,
                CommandFormat = data.Name
            };

            await _DB.Workspaces.CreateAsync(workspace);

            App.MessageCommands.Add(data.Name, new IDiscordAppCommand
            {
                Name = data.Name,
                Description = data.Description,
                CommandId = Command.Id.ToString(),
                WorkspaceId = workspace.Id,
                CreatedAt = DateTime.UtcNow,
                CreatedBy = Member.UserId
            });

            var Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>().Set(x => x.MessageCommands, App.MessageCommands));
            if (!Result.IsAcknowledged)
            {
                App.MessageCommands.Remove(data.Name);
                _ = _DB.Workspaces.DeleteAsync(workspace);
                return "Failed to add command data to app.";
            }
            InvokeAsync(RefreshCommands);
            return null;
        });
                }
                break;
        }

    }

    public async Task RunSelectedEnableCommands()
    {
        if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
            return;

        IsLoading = true;
        switch (TabIndex)
        {
            case 0:
                if (SelectedCommands == null)
                    return;

                foreach (var i in SelectedCommands)
                {
                    await MenuItemClick("enable", i, true);
                }
                SelectedCommands = null;
                break;
            case 1:
                if (SelectedUsers == null)
                    return;

                foreach (var i in SelectedUsers)
                {
                    await MenuItemClick("enable", i, true);
                }
                SelectedUsers = null;
                break;
            case 2:
                if (SelectedMessages == null)
                    return;

                foreach (var i in SelectedMessages)
                {
                    await MenuItemClick("enable", i, true);
                }
                SelectedMessages = null;
                break;
        }
        IsLoading = false;
        await RefreshCommands();
    }

    public async Task RunSelectedDisableCommands()
    {
        if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
            return;

        IsLoading = true;
        switch (TabIndex)
        {
            case 0:
                if (SelectedCommands == null)
                    return;

                foreach (var i in SelectedCommands)
                {
                    await MenuItemClick("disable", i, true);
                }
                SelectedCommands = null;
                break;
            case 1:
                if (SelectedUsers == null)
                    return;

                foreach (var i in SelectedUsers)
                {
                    await MenuItemClick("disable", i, true);
                }
                SelectedUsers = null;
                break;
            case 2:
                if (SelectedMessages == null)
                    return;

                foreach (var i in SelectedMessages)
                {
                    await MenuItemClick("disable", i, true);
                }
                SelectedMessages = null;
                break;
        }
        IsLoading = false;
        await RefreshCommands();
    }

    public async Task RunSelectedRemoveCommands()
    {
        if (Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
            return;

        IsLoading = true;
        switch (TabIndex)
        {
            case 0:
                if (SelectedCommands == null)
                    return;

                foreach(var i in SelectedCommands)
                {
                    await MenuItemClick("remove", i, true);
                }
                SelectedCommands = null;
                break;
            case 1:
                if (SelectedUsers == null)
                    return;

                foreach (var i in SelectedUsers)
                {
                    await MenuItemClick("remove", i, true);
                }
                SelectedUsers = null;
                break;
            case 2:
                if (SelectedMessages == null)
                    return;

                foreach (var i in SelectedMessages)
                {
                    await MenuItemClick("remove", i, true);
                }
                SelectedMessages = null;
                break;
        }
        IsLoading = false;
        await RefreshCommands();
    }

    public async Task RefreshCommands()
    {
        switch (TabIndex)
        {
            case 0:
                await CommandsGrid.RefreshDataAsync();
                break;
            case 1:
                await UsersGrid.RefreshDataAsync();
                break;
            case 2:
                await MessagesGrid.RefreshDataAsync();
                break;
        }

    }

    void ShowContextMenuWithManageItems(IDiscordAppCommand item, MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem() { Text = "Enable Command", Value = "enable", Icon = "play_arrow", Disabled = IsLoading || item.IsEnabled || Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands) },
                new ContextMenuItem() { Text = "Disable Command", Value = "disable", Icon = "pause", Disabled = IsLoading || !item.IsEnabled || Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands) },
                new ContextMenuItem() { Text = "Clear Data", Value = "clear", Icon = "delete_history", Disabled = IsLoading || !item.IsEnabled || Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageWorkspaces) },
                new ContextMenuItem() { Text = "Remove Command", Value = "remove", Icon = "delete", Disabled = IsLoading || Member == null || !Member.HasAppPermission(Team, App, AppPermission.ManageCommands) },
                new ContextMenuItem() { Text = "Copy Command ID", Value = "copy", Icon = "content_copy" }
                                             }, x => MenuItemClick(x.Value.ToString(), item));
    }

    async Task MenuItemClick(string value, IDiscordAppCommand item, bool isSelected = false)
    {
        if (App == null || Member == null)
            return;

        if (!isSelected)
        {
            ContextMenuService.Close();
            IsLoading = true;
        }

        switch (value)
        {
            case "copy":
                try
                {
                    await JS.InvokeAsync<dynamic>("navigator.clipboard.writeText", item.CommandId);
                }
                catch { }
                break;
            case "enable":
                {
                    if (!Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
                        return;

                    switch (TabIndex)
                    {
                        case 0:
                            {
                                bool CurrentState = bool.Parse(item.IsEnabled.ToString());
                                item.IsEnabled = true;
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.SlashCommands, App.SlashCommands));
                                if (!Result.IsAcknowledged)
                                    item.IsEnabled = CurrentState;
                            }
                            break;
                        case 1:
                            {
                                bool CurrentState = bool.Parse(item.IsEnabled.ToString());
                                item.IsEnabled = true;
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.UserCommands, App.UserCommands));
                                if (!Result.IsAcknowledged)
                                    item.IsEnabled = CurrentState;
                            }
                            break;
                        case 2:
                            {
                                bool CurrentState = bool.Parse(item.IsEnabled.ToString());
                                item.IsEnabled = true;
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.MessageCommands, App.MessageCommands));
                                if (!Result.IsAcknowledged)
                                    item.IsEnabled = CurrentState;
                            }
                            break;
                    }
                }
                break;
            case "disable":
                {
                    if (!Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
                        return;

                    switch (TabIndex)
                    {
                        case 0:
                            {
                                bool CurrentState = bool.Parse(item.IsEnabled.ToString());
                                item.IsEnabled = false;
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.SlashCommands, App.SlashCommands));
                                if (!Result.IsAcknowledged)
                                    item.IsEnabled = CurrentState;
                            }
                            break;
                        case 1:
                            {
                                bool CurrentState = bool.Parse(item.IsEnabled.ToString());
                                item.IsEnabled = false;
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.UserCommands, App.UserCommands));
                                if (!Result.IsAcknowledged)
                                    item.IsEnabled = CurrentState;
                            }
                            break;
                        case 2:
                            {
                                bool CurrentState = bool.Parse(item.IsEnabled.ToString());
                                item.IsEnabled = false;
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.MessageCommands, App.MessageCommands));
                                if (!Result.IsAcknowledged)
                                    item.IsEnabled = CurrentState;
                            }
                            break;
                    }
                }
                break;
            case "clear":
                if (!Member.HasAppPermission(Team, App, AppPermission.ManageWorkspaces))
                    return;

                WorkspaceData? workspace = _DB.Workspaces.Collection.Find(new FilterDefinitionBuilder<WorkspaceData>().Eq(x => x.Id, item.WorkspaceId)).FirstOrDefault();
                if (workspace != null)
                {
                    await workspace.UpdateAsync(new UpdateDefinitionBuilder<WorkspaceData>().Set(x => x.JsonData, null), () =>
                    {
                        workspace.JsonData = null;
                    });
                }
                break;
            case "remove":
                {
                    if (!Member.HasAppPermission(Team, App, AppPermission.ManageCommands))
                        return;

                    switch (TabIndex)
                    {
                        case 0:
                            {
                                App.SlashCommands.Remove(item.Name);
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.SlashCommands, App.SlashCommands));
                                if (!Result.IsAcknowledged)
                                    App.SlashCommands.Add(item.Name, (DiscordAppSlashCommand)item);
                                else
                                {
                                    if (item.WorkspaceId.HasValue)
                                        await _DB.Workspaces.DeleteAsync(item.WorkspaceId.Value);
                                }
                            }
                            break;
                        case 1:
                            {
                                App.UserCommands.Remove(item.Name);
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.UserCommands, App.UserCommands));
                                if (!Result.IsAcknowledged)
                                    App.UserCommands.Add(item.Name, (DiscordAppSlashCommand)item);
                                else
                                {
                                    if (item.WorkspaceId.HasValue)
                                        await _DB.Workspaces.DeleteAsync(item.WorkspaceId.Value);
                                }
                            }
                            break;
                        case 2:
                            {
                                App.MessageCommands.Remove(item.Name);
                                UpdateResult Result = await App.UpdateAsync(new UpdateDefinitionBuilder<AppData>()
                                .Set(x => x.MessageCommands, App.MessageCommands));
                                if (!Result.IsAcknowledged)
                                    App.MessageCommands.Add(item.Name, (DiscordAppSlashCommand)item);
                                else
                                {
                                    if (item.WorkspaceId.HasValue)
                                        await _DB.Workspaces.DeleteAsync(item.WorkspaceId.Value);
                                }
                            }
                            break;
                    }
                }
                break;
        }

        if (!isSelected)
        {
            IsLoading = false;
            await RefreshCommands();
        }
    }
}
